<div class="container-fluid navbar-fxd-wrapper" ng-include="'modules/shared/views/header.html'"></div>


<div class="container">
	<div class="row text-center" id="rand_img">
		<img  src="assets/img/404_1.jpg" align="center" alt="addypin not found" style="height:200px; width:100%">
	</div>
    
    
    <div class="row text-center" style="background-color:#666; color:#FFF; padding:10px; ">
		<i>Ops!</i>
       <i>We couldn't find addypin {{hostpart}} but we found your socks!</i>
	</div>
</div>
<div class="container-fluid container-footer fxdbottom" ng-include="'modules/shared/views/footer.html'"></div>
<style>
.container-footer{
	display:block !important;
}
</style>
<script>
$(document).ready(function(){
	
	document.title = 'addypin not found';
	var windowWidth = $(window).width(); 
	var windowHeight = $(window).height();
	
	var header = $('#header').height(); 
	header = header ? header : 75;
	var footer = $('#footer').height(); 
	footer = footer ? footer : 45;

	if(windowHeight > 800){
		footer = 20;	
	}
	
var nhw = parseFloat(header) + parseFloat(footer);
windowHeight = parseFloat(windowHeight) - parseFloat(nhw);

	 
    var classCycle=['404_1.jpg','404_2.jpg','404_3.jpg','404_4.jpg'];

    var randomNumber = Math.floor(Math.random() * classCycle.length);
    var classToAdd = classCycle[randomNumber];
    
    $('#rand_img').empty().append('<img src="assets/img/'+classToAdd+'" align="center" alt="addypin not found" style="width:100%; height:'+windowHeight+'px" >');

});
</script>