<div class="container footer-inner resp-full hidden-sm hidden-xs">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="mdgray">
                Copyright Addypin 2016 - All rights reserved
            </div>
        </div>
        <div class="col-md-6 col-sm-6 text-right">
            <ul class="footer-social">

                <li><a href="https://www.linkedin.com/company-beta/10224951" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="https://twitter.com/addypin" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
               <!-- <li><a href="#" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-facebook-official"></i></a></li>-->
            </ul>


        </div>

    </div>
</div>


<div class="container footer-inner resp-full hidden-lg hidden-md">
    
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-8 text-left">
            <div class="">
              <b>addypin @ 2017</b>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-4 text-right">
            <ul class="footer-social">
                <li><a href="https://www.linkedin.com/company-beta/10224951" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="https://twitter.com/addypin" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
            </ul>
        </div>
                <!--<li><a href="#" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-facebook-official"></i></a></li>-->
      

    </div>
</div>
