<div class="container">
    <div class="cus-top-header row">
        <a class="navbar-brand site-logo" href="http://www.addypin.com" ></a>
        <ul class="main-nav">
            <li><a href="http://www.addypin.com"><i class="fa fa-home"></i> Home</a></li>



           <li><a href="https://www.addypin.com/#/pin/manage-pins"><i class="fa fa-map-marker"></i> Manage PINs</a></li>
            <li><a href="https://www.addypin.com/#/lookup/search-form"><i class="fa fa-search"></i> Search</a></li>


            <!--<li class="desktop-none"><a href="registration.php"><i class="fa fa-plus-circle"></i> Register Pin</a></li>
            <li><a href="#" ui-sref="pin.manage"><i class="fa fa-map-marker"></i> Manage Pins</a></li>
            <li><a href="#" ui-sref="lookup.index"><i class="fa fa-search"></i> Lookup</a></li>
            <li class="resp-none"><a href="#" id="overlayform" class="feedback"><i class="fa fa-envelope"></i> Feedback</a></li>-->
        </ul>
    </div>
</div>

<style type="text/css">
    
    .cus-top-header .main-nav li:last-child a {
        padding: inherit;
        background: transparent;
        border-radius: inherit;
        color: inherit;
    }
    .cus-top-header .main-nav li:last-child a:hover {
        background: transparent;
    }

</style>