
<div class="container-fluid navbar-fxd-wrapper" ng-include="'modules/shared/views/header.html'"></div>
<!--<div class="cssload-loader deadcenter" ng-class="{true: 'hide', false: 'not-hide'}[pinLoaded]">-->
<div class="cssload-loader deadcenter" >
  <div><i class="fa fa-map-marker"></i></div>
  <div><i class="fa fa-map-marker"></i></div>
  <div><i class="fa fa-map-marker"></i></div>
  <div><i class="fa fa-map-marker"></i></div>
  <div><i class="fa fa-map-marker"></i></div>
</div>
<!--<div ui-view>
    &lt;!&ndash; Content Goes Here (From Angular Includes) &ndash;&gt;
</div>-->
<style>


.card .content {
    padding: 15px 15px 0;
}
.card .content .address-section {
    padding: 15px 0;
}
.card.bis-card {
   font-family: 'Tahoma';
}

.card.bis-card h2 {
    font-size: 1em !important;
    border-bottom: none;
    padding-bottom: 0px;
    font-weight: 100 !important;
    margin: 0;
	
}

.card.bis-card h3 {
    margin: 0;
	padding: 8px 0;
	font-size: 18px;
}
.card.bis-card .content .text {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 2px;
    margin-top: 0;
    line-height: normal;
}
.card .content .mail-info .text {
    margin: 0 !important;
    padding: 15px 0;
}
.tooltip-div {
  background-color: #00b1ff ;
 
}
.btn-map-image{
	color:#fff !important;
	background:#fff !important;
}
.container-footer{ display:block !important; }

.share-pins a{ text-align: center; font-size: 15px; margin : 10px 10px 10px 0; height: 30px; width:30px;}

.share-pins .share-whatsapp{
  background: green;
  display: inline-block;
  color: white;
  text-align: center;
  border-radius: 5px;
      padding: 0;
    font-size: 18px;

}

.share-pins .share-sms{
  background: #999999;
  display: inline-block;
  color: white;
  text-align: center;
  border-radius: 5px;
      padding: 0;
    font-size: 18px;

}

.share-pins .share-email{
  background: #54a9f2;
  display: inline-block;
  color: white;
  text-align: center;
  border-radius: 5px;
      padding: 0;
    font-size: 18px;
}

@media (min-width: 320px) and (max-width: 479px) {
	   .mapshow{
		height: 90px;
	}

.card {
    border: none;
    padding-left: 0;
    padding-right: 0;

}

}

.capitalize{
  text-transform: capitalize;
}

.share-pins.align-center{
  text-align: center;
}
.share-pins.share-pin-home{
  position: absolute;
  bottom: 0;
}


.add-pin-share {
  padding-top: 15px;
}
.add-pin-share a {
margin: 5px 15px 0;
}
.add-pin-share a:first-child {
margin-left: 0;
}


@media only screen and (max-width: 768px) {
   .mapshow{
		height: 200px;
	}

	.address-section a .fa{ font-size: 15px; }
}

@media only screen and (min-width: 1025px) {
   .mapshow{
		height: 350px;
	}
}

</style>
<div class="container page-margin adpin-page">
<div class="row">
<div class="col-md-12">
  <p ng-show="message != ''">{{message}}</p>
  <div ng-show="message == ''" class="row"></div>
</div>
</div>
<div class="row">
<div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0 cardholder" style="margin-bottom:20px;">
  <div class="card bis-card">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <ng-map class="mapshow" center="[{{pinData.lat}}, {{pinData.long}}]" >
          <marker position="[{{pinData.lat}}, {{pinData.long}}]" on-click="vm.showCustomMarker()"></marker>
        </ng-map>
      </div>
      <div class="col-sm-8 col-xs-12 content">


          <div class="row">
            <div class="col-xs-12">
              <h2> <b>Let's Go! </b></h2>
              <div class="text maps share-pins"> 
              <a style="margin-left:0px;" class="btn btn-map-image" href="https://www.google.com/maps/place/{{pinData.lat}},{{pinData.long}}" target="_blank"> 
              <img src="assets/img/icon/google-maps.png" alt="google maps"> </a> 
             
              <a class="btn btn-map-image" href="http://maps.apple.com/maps?ll={{pinData.lat}},{{pinData.long}}" target="_blank"> 
              <img src="assets/img/icon/apple.png" alt="apple maps" > </a> 

              <a class="btn btn-map-image" href="https://waze.com/ul?ll={{pinData.lat}},{{pinData.long}}" target="_blank"> 
              <img src="assets/img/icon/waze.png" alt="waze maps"> </a> 
              
              <a class="btn btn-map-image" href="https://wego.here.com/?x=ep&map={{pinData.lat}},{{pinData.long}},15,normal" target="_blank"> 
              <img src="assets/img/icon/here.png" alt="here"> </a> 

             <!--  <a class="btn btn-map-image" href="https://global.blackberry.com/en/index?zoom=17&lat={{pinData.lat}}&lon={{pinData.long}}" target="_blank"> 
              <img src="assets/img/icon/blackberry.png" alt="blackberry maps"> </a>  -->

              <a class="btn btn-map-image" href="geo:{{pinData.lat}},{{pinData.long}}" target="_blank"> 
              <img src="assets/img/icon/blackberry.png" alt="blackberry maps"> </a> 

              </div>
            </div>
          </div>

        <h2> {{pinData.code}}  | <i class="fa fa-globe" aria-hidden="true"></i> <a href="mailto:{{pinData.code}}@addypin.com?Subject={{pinData.code}}" target="_top">{{pinData.code}}.addypin.com</a></h2>
     <!--    <p  class="text">
        <i class="fa fa-globe" aria-hidden="true"></i> <a href="{{host}}" target="_top">{{pinData.code}}.addypin.com</a>
        </p> -->
  <!--  <div class="">
              <p class="text"><i class="fa fa-globe" aria-hidden="true"></i> <a href="mailto:{{pinData.code}}@addypin.com?Subject={{pinData.code}}" target="_top">{{pinData.code}}.addypin.com</a></p>
            </div> -->

        <div class="address-section">
          <div class="row">
            <div class="col-xs-12">
              <div class="text capitalize"><b>   {{pinData.name ? pinData.name+' | ' : pinData.name}} {{pinData.location_name}}  </b></div>
              <div class="text"><span> {{pinData.address}} </span> </div>

              
              <!-- <div class="text">{{pinData.landmark ? pinData.landmark+ ' | ' : pinData.landmark}} {{pinData.postal_code}}</div> 
               --> 
                  <div class="text">{{pinData.landmark ? pinData.landmark+ '  ' : pinData.landmark}} 

                  <span ng-show = "pinData.postal_code"> | </span> {{pinData.postal_code}}
                  </div>
            </div>
          </div>
          <div class="row longitude-box">
            <div class="col-xs-12">
              <p class="text"> <strong>Lat:</strong> {{pinData.lat | number: 4}} | <strong>Long:</strong> {{pinData.long | number: 4}}  </p>
            </div>
          </div>
          <div class="row mail-info">
            <div class="col-xs-12">
              <p class="text"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{pinData.code}}@addypin.com?Subject={{pinData.code}}&body=Hey there! %0A%0A Find me here {{pinData.code}}.addypin.com or email {{pinData.code}}@addypin.com. %0A%0A The addypin team" target="_top">{{pinData.code}}@addypin.com</a></p>
            </div>
          </div>
          <div class="row">
            <!-- <div class="col-xs-12">
              <h2> <b>Let's Go! </b></h2>
              <div class="text maps share-pins"> 
              <a style="margin-left:0px;" class="btn btn-map-image" href="https://www.google.com/maps/place/{{pinData.lat}},{{pinData.long}}" target="_blank"> 
              <img src="assets/img/icon/google-maps.png" alt="google maps"> </a> 
             
              <a class="btn btn-map-image" href="http://maps.apple.com/maps?saddr={{pinData.lat}},{{pinData.long}}" target="_blank"> 
              <img src="assets/img/icon/apple.png" alt="apple maps" > </a> 

              <a class="btn btn-map-image" href="https://waze.com/ul?ll={{pinData.lat}},{{pinData.long}}" target="_blank"> 
              <img src="assets/img/icon/waze.png" alt="waze maps"> </a> 
              
              <a class="btn btn-map-image" href="https://wego.here.com/?x=ep&map={{pinData.lat}},{{pinData.long}},15,normal" target="_blank"> 
              <img src="assets/img/icon/here.png" alt="here"> </a> 

              <a class="btn btn-map-image" href="https://global.blackberry.com/en/index?zoom=17&lat={{pinData.lat}}&lon={{pinData.long}}" target="_blank"> 
              <img src="assets/img/icon/blackberry.png" alt="blackberry maps"> </a> 

              </div>
            </div> -->

            <div class="col-xs-12">
              <div class="text maps share-pins"> 
                           <a ng-click="shareWhatApp()"
                                class="btn share-whatsapp"
                                 >
                                <i class="fa fa-whatsapp"></i>
                            </a>

                            
                            
                            <a title="SMS" href="javascript:void(0);"
                                socialshare
                                socialshare-provider="sms"
                                socialshare-text="Find me here {{pinData.code}}.addypin.com or email {{pinData.code}}"
                                socialshare-url="@addypin.com"
                                class="btn share-sms" >
                                <i class="fa fa-mobile"></i>
                            </a>
                            <a title="Email" href="javascript:void(0);"
                                socialshare
                                socialshare-provider="email"
                                socialshare-subject="Check my addypin location {{pinData.code}}"
                                socialshare-body="Hey there! %0A%0A  Find me here {{pinData.code}}.addypin.com or email {{pinData.code}}@addypin.com. %0A%0A The addypin team"
                                class="btn share-email" >
                                <i class="fa fa-envelope"></i>
                            </a>

                           
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>

<div class="container-fluid container-footer fxdbottom" ng-include="'modules/shared/views/footer.html'"></div>
