<style type="text/css">
    @media (max-width: 768px){
 .page-margin{margin-top: 50px !important;}
</style>
<div class="container-fluid navbar-fxd-wrapper" ng-include="'modules/shared/views/header.html'"></div>
<!--<div class="cssload-loader deadcenter" ng-class="{true: 'hide', false: 'not-hide'}[pinLoaded]">-->
<div class="cssload-loader deadcenter" >
  <div><i class="fa fa-map-marker"></i></div>
  <div><i class="fa fa-map-marker"></i></div>
  <div><i class="fa fa-map-marker"></i></div>
  <div><i class="fa fa-map-marker"></i></div>
  <div><i class="fa fa-map-marker"></i></div>
</div>
<!--<div ui-view>
    &lt;!&ndash; Content Goes Here (From Angular Includes) &ndash;&gt;
</div>-->
<style>
.card .content {
    padding: 15px 15px 0;
}
.card .content .address-section {
    padding: 15px 0;
}
.card.bis-card {
   font-family: 'Tahoma';
}

.card.bis-card h2 {
    font-size: 1.4em;
    border-bottom: none;
    padding-bottom: 0px;
    font-weight: 100 !important;
    margin: 0;
	
}
.card.bis-card h3 {
    margin: 0;
	padding: 8px 0;
	font-size: 18px;
}
.card.bis-card .content .text {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 2px;
    margin-top: 0;
    line-height: normal;
}
.card .content .mail-info .text {
    margin: 0 !important;
    padding: 15px 0;
}
.tooltip-div {
  background-color: #00b1ff ;
 
}
.btn-map-image{
	color:#fff !important;
	background:#fff !important;
	margin : 10px 15px 0;
}
.container-footer{ display:block !important; }

@media (min-width: 321px) and (max-width: 479px) {

.adpin-page .card {
    border: none;
    padding-left: 0;
    padding-right: 0;
}

}


</style>
<div class="container page-margin adpin-page">
<div class="row">
<div class="col-md-12">
  <p ng-show="message != ''">{{message}}</p>
  <div ng-show="message == ''" class="row"></div>
</div>
</div>
<div class="row">
<div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
  <div class="card bis-card">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <ng-map center="[{{pinData.lat}}, {{pinData.long}}]" style="height: 200px !important">
          <marker position="[{{pinData.lat}}, {{pinData.long}}]" on-click="vm.showCustomMarker()"></marker>
        </ng-map>
      </div>
      <div class="col-sm-8 col-xs-12 content">
        <h2> <b>{{pinData.code}} </b></h2>
        <h2>
        <i class="fa fa-globe" aria-hidden="true"></i> <a href="{{host}}" target="_top">{{pinData.code}}.addypin.com</a>
        </h2>
        <div class="address-section">
          <div class="row">
            <div class="col-xs-12">
              <div class="text"><b>My Home</b></div>
              <div class="text">{{pinData.location_name}} <span> {{pinData.address}} </span> </div>
              <div class="text">{{pinData.postal_code}}</div>
            <!--   {{pinData.address.split(' ').join('+').split(',').join('')}}&sll=22.7266978,75.8841213&z=10&t=s
              <a href='http://maps.apple.com/?q={{pinData.address.split(" ").join("+").split(",").join("").split(".").join("")}}&sll=22.7461602,75.8930504&z=10&t=s'>Click me</a> 
 -->
            </div>
          </div>
          <div class="row longitude-box">
            <div class="col-xs-12">
              <p class="text"> <strong>Longitude:</strong> {{pinData.long | number: 4}} | <strong>Latitude:</strong> {{pinData.lat | number: 4}} </p>
            </div>
          </div>
          <div class="row mail-info">
            <div class="col-xs-12">
              <p class="text"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{pinData.code}}@addypin.com?Subject={{pinData.code}}" target="_top">{{pinData.code}}@addypin.com</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h2> <b>Let's Go! </b></h2>
              <div class="text maps"> 
              <a style="margin-left:0px;" class="btn btn-map-image" href="https://www.google.com/maps/place/{{pinData.lat}},{{pinData.long}}" target="_blank"> 
              <img src="assets/img/icon/google-maps.png" alt="google maps"> </a> 
             
              <a class="btn btn-map-image" href="http://maps.apple.com/maps?saddr={{pinData.lat}},{{pinData.long}}" target="_blank"> 
              <img src="assets/img/icon/apple.png" alt="apple maps" > </a> 

              <a class="btn btn-map-image" href="https://waze.com/ul?ll={{pinData.lat}},{{pinData.long}}" target="_blank"> 
              <img src="assets/img/icon/waze.png" alt="waze maps"> </a> 
              
              <a class="btn btn-map-image" href="https://wego.here.com/?x=ep&map={{pinData.lat}},{{pinData.long}},15,normal" target="_blank"> 
              <img src="assets/img/icon/here.png" alt="here"> </a> 

              <a style="margin-right:0px;" class="btn btn-map-image" href="https://global.blackberry.com/en/index?zoom=17&lat={{pinData.lat}}&lon={{pinData.long}}" target="_blank"> 
              <img src="assets/img/icon/blackberry.png" alt="blackberry maps"> </a> 
            

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="container-fluid container-footer fxdbottom" ng-include="'modules/shared/views/footer.html'"></div>
