	<div class="container-fluid navbar-fxd-wrapper" id="header" ng-include="'modules/shared/views/header.html'"></div>

<div class="container">
	<div class="row text-center" id="rand_img">
		<img src="assets/img/limitReached.jpg" align="center" alt="Limit Reached" style="height:400px; width:100%">
	</div>
	<div class="row text-center" style="background-color:#666; color:#FFF; padding:10px; ">
		<i>Limit Reached</i>
        <i>You've reached your limit. I can't take this anymore! Try again later..</i>
	</div>
	
</div>


<div class="container-fluid container-footer fxdbottom" id="footer" ng-include="'modules/shared/views/footer.html'"></div>
<style>
.container-footer{
	display:block !important;
}
</style>
<script>


document.title = 'Limit reached!';
	var windowWidth = $(window).width(); 
	var windowHeight = $(window).height();
	var documentHeight = $( document ).height();

	//alert(windowHeight+'-----'+documentHeight);
	
var header = $('#header').height(); 

header = header ? header : 75;
var footer = $('#footer').height(); 
footer = footer ? footer : 45;

if(windowHeight > 800){
	footer =20;	
	}
	//alert(windowHeight+'-----'+documentHeight+'-----'+footer);
var nhw = parseFloat(header) + parseFloat(footer);
 
windowHeight = parseFloat(windowHeight) - parseFloat(nhw);


    
$('#rand_img').empty().append('<img src="assets/img/limitReached.jpg" align="center" alt="Limit Reached" style="width:100%; height:'+windowHeight+'px">');
	 
 
</script>
