	<div class="container-fluid navbar-fxd-wrapper" ng-include="'modules/shared/views/header.html'"></div>
<!--<div class="cssload-loader deadcenter" ng-class="{true: 'hide', false: 'not-hide'}[pinLoaded]">-->
<div class="cssload-loader deadcenter">
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
</div>
<!--<div ui-view>
    &lt;!&ndash; Content Goes Here (From Angular Includes) &ndash;&gt;
</div>-->

<div class="container page-margin">
	<div class="row text-center">
		<img src="assets/img/notfound.png" align="center">
	</div>
	<div class="row text-center">
		<i>We will get to the bottom of this!</i>
	</div>
	<div class="row text-center">
		<i>The addypin you typed was not found!</i>
	</div>
</div>
<div class="container-fluid container-footer fxdbottom mobile-none" ng-include="'modules/shared/views/footer.html'"></div>