<div class="background-manage">
</div>
<div ng-include="'modules/shared/views/feedback.html'"></div>
<div class="manage-pins-input-container deadcenter centered">
    
    <form class="form1" ng-submit="login()" autocomplete="on">
        <div class="marginxs">
            <h3 class="manage-pings">Retrieve your addypins</h3>
        </div>

        <!--data-toggle="tooltip" data-trigger="focus" title="Testing Toolip"-->
        <div id="message-box" class="alert alert-{{messageClass}} text-left" ng-show="responseReturned" role="alert">{{message}}</div>
        <input type="text" class="form-control" placeholder="Enter your email" ng-model="user.email" autocomplete="on">
        <button type="submit" class="mybtn btn-orange">
            <i class="fa fa-check-circle"></i> Send my addypins
        </button>
        <!--Takes an email address from the user and sends it to an API Function via ajax
        That API Function verifies that the email address exists and not banned and sends that user an email with an auto login link    (Need to create that link in advance without email for easier development)
        Angular verifies that token if it's valid and not expired and then saves that token in the local storage
        After that, it sends an API call to get the user's pins while sending the API Token along.-->
    </form>
</div>

<div class="container-fluid container-footer fxdbottom" ng-include="'modules/shared/views/footer.html'"></div>
<style>
.pac-container{
    z-index:99999 !important;
}
</style>