<style type="text/css">


.edit-box .edit_close {
    margin-top:15px;
}
    
@media (max-width: 639px) {
.edit-box .edit_close {
    margin-top:0;
}
}

</style>


<!-- Edit Popup -->
<div class="background-old">
</div>
<div ng-include="'modules/shared/views/feedback.html'"></div>

<div class="windoweditpin" ng-show="editShown">
    <div class="edit-box clearfix">
<div style="width: 70%; float: left;">
    <h3><i class="fa fa-pencil-square"></i> Edit Pin   

   <a href="javascript:void(0);" class="deletepin" ng-click="showDelete(currentPin)" style="color: #000;"><i class="fa fa-trash-o"></i> Delete Pin</a>
    </h3>

     <span class="pin-actions">
       
       
       </span>
    </div>
    
    <div class="close-button edit_close">
        <a href="javascript:void(0);" id="btn-close-edit" ng-click="hideEdit()"><i class="fa fa-close"></i></a>
    </div></div>
    <div id="map-location" class="line pdxxs "></div>
    <div  class="map-snapshot-lg gen-rel img-100">
        <div class="pin-code-container" id="map-container" style="height:250px;">
            <!-- <span class="pin-code">
                Navigate to
                <a href="https://{{currentPin.code}}.addypin.com" target="_blank">{{currentPin.code}}.addypin.com</a><br>

                or retrieve the map<br>
                <a href="mailto:{{currentPin.code}}@addypin.com">{{currentPin.code}}@addypin.com</a>
            </span>
            <span class="pin-point"></span>
            <i class="fa fa-map-marker"></i> -->
        </div>
        <!--   <img src="assets/img/map-snapshot-lg.jpg"> -->
    </div>
    <span class="pin-actions"><a href="javascript:void(0);" class="sharepin" ng-click="showShare(currentPin)"><i class="fa fa-send"></i> Share Pin</a></span>
   
  
    
      <span class="share-pins pin-actions">
         <a title="whatsapp" href="javascript:void(0);"
                                socialshare
                                socialshare-provider="whatsapp"
                                
                                socialshare-url="https://{{currentPin.code}}.addypin.com"
                                socialshare-text= "Find me here {{currentPin.code}}.addypin.com  or email {{currentPin.code}}"
                                
                                class="share-whatsapp" >
                                <i class="fa fa-whatsapp"></i>
                            </a>
                            
             
     
               <a title="SMS" href="javascript:void(0);"
                                socialshare
                                socialshare-provider="sms"
                                socialshare-text="Find me here {{currentPin.code}}.addypin.com or email {{currentPin.code}}"
                                socialshare-url="@addypin.com"
                                class="share-sms" >
                                <i class="fa fa-mobile"></i>
                            </a>
                            
            <a title="Email" href="javascript:void(0);"
                socialshare
                socialshare-provider="email"
                socialshare-subject="Check my addypin location {{currentPin.code}}"
                socialshare-body="Hey there! Find me here {{currentPin.code}}.addypin.com or email {{currentPin.code}}@addypin.com. The addypin team "
                class="share-email" >
                <i class="fa fa-envelope"></i>
            </a>
                            
                            
       </span> 
       <!-- <span class="pin-actions"><a href="javascript:void(0);" class="deletepin" ng-click="showDelete(currentPin)"><i class="fa fa-trash-o"></i> Delete Pin</a>
       
       
       </span> -->
    
        
        <span class="pin-actions text-right">
             <button type="button" class="mybtn btn-orange" ng-if="currentPin.is_active == 0" ng-click="VerifyPin(currentPin)" ><i class="fa fa-check"></i> Verify addypin</button> 
        </span>
                                
   <br/>       
                           
    <form name="registerForm" ng-submit="UpdatePin()">
    <p>{{currentPin.pin_type == 1 ? 'Personal' : 'Business'}} addypin</p>
        <input type="text" id="address" class="form-control" ng-model="currentPin.address" placeholder="Address" required>
        
        
        
       
        
        <input type="text" class="form-control fields-half-left" ng-model="currentPin.name" placeholder="Name">
        <input type="text" class="form-control fields-half-right" ng-model="currentPin.postal_code" placeholder="Postal Code">
        <input type="text" id="latitude" class="form-control fields-half-left" ng-model="currentPin.lat" placeholder="Latitude">
        <input type="text" id="longitude" class="form-control fields-half-right" ng-model="currentPin.long" placeholder="Longitude">
        <input type="text" class="form-control fields-half-left" ng-model="currentPin.location_name" placeholder="Location Name">
        <input type="text" class="form-control fields-half-right" ng-model="currentPin.landmark" placeholder="Landmark">
        
       
        
        <input type="text" value="" id="pincode" name="pincode"  maxlength="6" ng-maxlength="6" onKeyUp="codeValidation(this.value)"  ng-minlength="6" ng-keyup="VerifyPincodeAvailability(currentPin.code)" ng-model-options="{allowInvalid: 'true'}" 
        ng-pattern="/^(?=.*[a-zA-Z])(?=.*\d).+$/"  class="form-control pinbox" ng-model="currentPin.code" placeholder="Code">
        
        <div ng-show="registerForm.pincode.$error.minlength" class="show alert alert-danger alert-sm">addypin must be 6 characters long</div>
        <div ng-show="registerForm.pincode.$error.maxlength" class="show alert alert-danger alert-sm">addypin must be 6 characters long</div>
        <div ng-show="registerForm.pincode.$error.pattern" class="show alert alert-danger alert-sm">addypin should have at least 1 digit and 1 alphabet</div>
        <div id="duplicate-pin" style="display:none" class="alert alert-danger alert-sm">Addypin exists, try a different combination.</div>
        <div ng-show="InactivePins" class="show alert alert-{{messageClass}} alert-sm">{{message}}</div>
        <div id="duplicate-pin" style="display:none" class="alert alert-danger alert-sm">addypin exists, try a different combination.</div>
        <input type="submit" class="mybtn btn-orange" ng-class="buttonClass" value="Update">
    </form>
</div>


<script>
function codeValidation(code){
	if(typeof(code != "undefined") && code.length > 6){
	// code =  code.substr(0, code.length - 1);
	 code =  code.substr(0,6, code.length - 1);
	var x=document.getElementById("pincode").value=code;
 
		
	return false;
		
	}
	
}
</script>
<!-- Share Popup -->
<div class="windowsharepin" ng-show="shareShown">
    <div class="windowoverlay-inner deadcenter">
        <h3><i class="fa fa-send"></i>Share Pin</h3>
        <div class="close-button">
            <a href="javascript:void(0);" id="btn-close-share" ng-click="hideShare(currentPin)"><i class="fa fa-close"></i></a>
        </div>
        <div class="line"></div>
        <div class="marginxs">
            <h4>"{{currentPin.location_name}} [{{currentPin.code}}]"</h4>
            <form ng-submit="share()">
                <input type="text" class="form-control" placeholder="Type emails here separated by comma" ng-model="shareEmail">
                <input type="submit" class="mybtn btn-orange" value="Share">
            </form>
        </div>
        <div class="marginsm">
            <span>Navigate <a href="https://{{currentPin.code}}.addypin.com" target="_blank">https://{{currentPin.code}}.addypin.com</a></span><br>
            <span>Or retrieve map <a  href="mailto:{{currentPin.code}}@addypin.com">{{currentPin.code}}@addypin.com</a></span>
        </div>
    </div>
</div>

<!-- Delete Popup -->
<div class="windowdeletepin" ng-show="deleteShown">
    <div class="windowoverlay-inner-sm deadcenter">
        <h4><i class="fa fa-trash-o"></i> Are you sure you want to delete {{currentPin.code}}?</h4>
        <h5>Your friends will not be able to access it anymore!</h5>
        <div class="line"></div>
        <div class="marginxs centered">
            <a href="javascript:void(0);" class="btn-close-delete mybtn btn-gray" ng-click="confirmDelete(currentPin)"><i class="fa fa-close"></i> Confirm Delete</a>
            <a href="javascript:void(0);" class="btn-close-delete mybtn btn-orange" ng-click="hideDelete(currentPin)"><i class="fa fa-refresh"></i> Cancel</a>
        </div>
    </div>
</div>

<div class="container page-margin container-my-pins">
    <div class="row">
        <div class="col-md-10">
            <h3>Welcome Nomad,</h3>
            <p>You have <strong>{{totalPins}}/{{totalPinsLimit}}</strong> {{userType}} addypins</p>
        </div>
        <div class="col-md-2"><a href="#" ng-click="logout()" class="logout"><i class="fa fa-sign-out"></i>Logout</a></div>
    </div>
    <div class="line marginxs"></div>
    <div class="row">
        <div class="col-md-12 col-xs-12 pins-holder">
            <div id="message-box" class="alert alert-{{messageClass}} text-left" ng-show="responseReturned" role="alert">{{message}}</div>
            <ul>
                <li class="col-md-6 col-sm-12 col-xs-12 col-xxs-12 pin pins-block" ng-repeat="pin in pins">
                    <div style="background: #fff;float:left;width:100%;">
                        <div class="col-xs-12 col-md-12 col-sm-12">
                            
                            <div class="pin-options-btn clearfix">
                            <span class="pin-options">
                                <!-- <a href="javascript:void(0);" class="share-whatsapp" ng-click="shareWhatApp(pin)">
                                    <i class="fa fa-whatsapp"></i>
                                </a> 
                                <a href="javascript:void(0);" class="sharepin" ng-click="showShare(pin)">
                                    <i class="fa fa-send"></i>
                                </a>  -->
                                <a href="javascript:void(0);" class="editpin" ng-click="showEdit(pin)">
                                    <i class="fa fa-pencil-square fa-2x"></i>
                                </a> 
                                <a href="javascript:void(0);" class="deletepin" ng-click="showDelete(pin)">
                                    <i class="fa fa-trash-o fa-2x"></i>
                                </a>
                            </span>


                            <button class="btn btn-danger pull-right" ng-if="pin.is_active == 0"  ng-click="VerifyPin(pin)" class="pin-status"   ng-class="{'active': (pin.is_active==1)}"> 
                            {{(pin.is_active==1) ? 'verified' : 'Verify now'}}</button>

                             <span ng-if="pin.is_active == 1"  ng-click="VerifyPin(pin)" class="pin-status"   ng-class="{'active': (pin.is_active==1)}"> 
                            {{(pin.is_active==1) ? 'verified' : 'Verify now'}}</span>
                            </div>

                        </div>
                        <div class="col-xs-6 col-md-6 col-sm-6 col-xxs-12 map-snapshot gen-rel img-100">
                            <div class="deadcenter pin-code-container">
                                <span class="pin-code">{{pin.code.toUpperCase()}}</span>
                                <span class="pin-point"></span>
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <img src="assets/img/map-snapshot.jpg">
                        </div>
                        <div class="col-xs-6 col-md-6 col-sm-6 col-xxs-12 pin-identity gen-rel">
                                                   
                          
                            <div class="pin-options-heading"> <h3>  {{pin.code}} </h3> </div>

                          <div class="web-text">
                            <i class="fa fa-globe" aria-hidden="true"></i> <a href="{{pin.code}}.addypin.com" target="_top">{{pin.code}}.addypin.com</a>
                          </div>
                            <div class="address-block">
                              <h5> My Home </h5>
                              {{pin.address}}
                            </div>


                            <div class="mail-text">
                                  <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{pin.code}}@addypin.com?Subject={{pinData.code}}" target="_top">{{pin.code}}@addypin.com</a>
                                </div>


                        
                        <div class="share-pins">
                            <!-- <a title="whatsapp" href="javascript:void(0);" class="share-whatsapp" ng-click="shareWhatApp(pin)">
                                <i class="fa fa-whatsapp"></i>
                            </a> -->
                            <a title="whatsapp" href="javascript:void(0);"
                                socialshare
                                socialshare-provider="whatsapp"
                                socialshare-url= "@addypin.com"
                                socialshare-text="Find me here {{pin.code}}.addypin.com or email {{pin.code}}"
                                class="share-whatsapp" >
                                <i class="fa fa-whatsapp"></i>
                            </a>


                            
                            
                            <a title="SMS" href="javascript:void(0);"
                                socialshare
                                socialshare-provider="sms"
                                socialshare-text="Find me here {{pin.code}}.addypin.com or email {{pin.code}}"
                                socialshare-url="@addypin.com"
                                class="share-sms" >
                                <i class="fa fa-mobile"></i>
                            </a>
                            <a title="Email" href="javascript:void(0);"
                                socialshare
                                socialshare-provider="email"
                                socialshare-subject="Check my addypin location {{pin.code}}"
                                socialshare-body="Hey there! Find me here {{pin.code}}.addypin.com or email {{pin.code}}@addypin.com. The addypin team "
                                class="share-email" >
                                <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                      </div>

                    </div>
                </li>
              
            </ul>
        </div>
    </div>
</div>


<div class="container-fluid container-footer fxdbottom" ng-include="'modules/shared/views/footer.html'"></div>
<style>
.pac-container{
	z-index:99999 !important;
}
</style>