<style type="text/css">

.container-my-pins {
   font-family: 'Tahoma';
}
.edit-box .edit_close {
    margin-top:15px;
}
.mybtn {
    margin-top: 0;
    float: right !important;
    margin-right: 10px;
    border-radius: 5px;
}
.pin-actions {
    padding: 3px 25px 5px 0;
    margin-bottom: 0;
}
.pin-actions-label {
    padding: 3px 8px;
}
.btn {
    padding: 6px 8px;
}
    
@media (max-width: 639px) {
.edit-box .edit_close {
    margin-top:0;
}
}

.fields-half-left {
    width: 48% !important;
    float: left;
    margin: 0 !important;
}

.fields-half-right {
    width: 48% !important;
    float: right;
    margin: 0 !important;
}

.removeTop{
    margin-top: 0px !important;
  }
@media(max-width: 768px){
  .page-margin{margin-top:20px !important;}
 
}
</style>


<!-- Edit Popup -->
<div class="background-old">
</div>
<div ng-include="'modules/shared/views/feedback.html'"></div>

<div class="windoweditpin" ng-show="editShown">
    
<div style=""> 
    <h3 class="removeTop">


<!--     <i class="fa fa-pencil-square"></i>  -->

        <a href="javascript:void(0);" class="deletepin" ng-click="showDelete(currentPin)" style="color: #000;"><i class="fa fa-trash-o"></i></a>

        <a href="javascript:void(0);" id="btn-close-edit" ng-click="hideEdit()" class="pull-right"><i class="fa fa-close"></i></a>

    <button type="button" class="mybtn btn-danger" ng-if="currentPin.is_active == 0" ng-click="VerifyPin(currentPin)" ><i class="fa fa-check"></i> Verify addypin</button>

     <!--    <div class="edit-box clearfix"> <div class="close-button edit_close">
    </div></div>


   -->


     </h3>
   
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div id="map-location" class="line"></div>
               <div  class="map-snapshot-lg gen-rel img-100">
        <div class="pin-code-container" id="map-container" style="height:380px;">
          
        </div>
        <!--   <img src="assets/img/map-snapshot-lg.jpg"> -->
    </div>

            
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

          <form name="registerForm" >
    <p class="capitalize">{{currentPin.pin_type == 1 ? 'Personal' : 'Business'}}</p>
<div class="form-group">
         <input type="text" value="" id="pincode" name="pincode"  maxlength="6" ng-maxlength="6" onKeyUp="codeValidation(this.value)"  ng-minlength="6" ng-keyup="VerifyPincodeAvailability(currentPin.code)" ng-model-options="{allowInvalid: 'true'}" 
        ng-pattern="/^(?=.*[a-zA-Z])(?=.*\d).+$/"  class="form-control  pinbox" ng-model="currentPin.code" placeholder="addypin">
</div>
        <!-- <input type="text" id="address" class="form-control" ng-model="currentPin.address" placeholder="Address" required>
         -->
         <div class="form-group clearfix">
           <input type="text" class="form-control fields-half-left" ng-model="currentPin.name" placeholder="Name">
            <input type="text" class="form-control fields-half-right" ng-model="currentPin.location_name" placeholder="Location Name">
            </div>
            <div class="form-group">
      <!--   <textarea type="text" id="address" class="form-control capitalize" ng-model="currentPin.address" placeholder="Address" required > 
{{currentPin.address}}
        </textarea>  -->

         <input type="text" id="address" class="form-control" ng-model="currentPin.address" placeholder="Address" required>
        
        </div>
        <div class="form-group clearfix">
         <input type="text" class="form-control fields-half-left" ng-model="currentPin.landmark" placeholder="Landmark">
        
       
            <input type="text" class="form-control fields-half-right" ng-model="currentPin.postal_code" placeholder="Postal Code">
            </div>
        <div class="form-group clearfix">
        <input type="text" id="latitude" class="form-control fields-half-left" ng-model="currentPin.lat" placeholder="Latitude">
        <input type="text" id="longitude" class="form-control fields-half-right" ng-model="currentPin.long" placeholder="Longitude">
        </div>
        
        
       
        
      <!--   <input type="hidden" class="form-control fields-half-left" ng-model="currentPin.name" placeholder="Name">
        <input type="hidden" class="form-control fields-half-right" ng-model="currentPin.postal_code" placeholder="Postal Code">
      -->

       
          <!--   <span class="mail-text ">
                                  <i class="fa fa-envelope" aria-hidden="true"> <a href="mailto:{{currentPin.code}}@addypin.com?Subject=" target="_top" class="ng-binding capitalize">{{currentPin.code}}@addypin.com</a></i>
                                </span> -->

       <div class="row text-left">
            
       
    <span class="share-pins pin-actions">
        <span class="pin-actions-label"><a href="javascript:void(0);" class="sharepin" ng-click="showShare(currentPin)"><i class="fa fa-send"></i></a></span> 
              
                    <a ng-click="shareWhatApps(currentPin.code)"
                                class="share-whatsapp"
                                 >
                                <i class="fa fa-whatsapp"></i>
                            </a>

             
              <!--  <a title="Whatsapp" href="javascript:void(0);"
                                socialshare
                                socialshare-provider="whatsapp"
                                socialshare-text="Find me here {{currentPin.code}}.addypin.com  or email {{currentPin.code}}"
                                socialshare-url="https://{{currentPin.code}}.addypin.com"
                                class="share-whatsapp" >
                                <i class="fa fa-whatsapp"></i>
                            </a> -->
     
               <a title="SMS" href="javascript:void(0);"
                                socialshare
                                socialshare-provider="sms"
                                socialshare-text="Find me here {{currentPin.code}}.addypin.com or email {{currentPin.code}}"
                                socialshare-url="@addypin.com"
                                class="share-sms" >
                                <i class="fa fa-mobile"></i>
                            </a>
                            
            <a title="Email" href="javascript:void(0);"
                socialshare
                socialshare-provider="email"
                socialshare-subject="Check my addypin location {{currentPin.code}}"
                socialshare-body="Hey there! Find me here {{currentPin.code}}.addypin.com or email {{currentPin.code}}@addypin.com. The addypin team "
                class="share-email" >
                <i class="fa fa-envelope"></i>
            </a>
                            
                            
       </span> 

    <button type="button" confirmed-click="UpdatePin()" 
    ng-confirm-click="Save changes?" class="btn btn-info pull-right" ng-class="buttonClass"  style="margin-right: 15px;">Update</button>
    

      
    </div>
        
        


    
   

             <div ng-show="registerForm.pincode.$error.minlength" class="show alert alert-danger alert-sm">addypin must be 6 characters long</div>
        <div ng-show="registerForm.pincode.$error.maxlength" class="show alert alert-danger alert-sm">addypin must be 6 characters long</div>
        <div ng-show="registerForm.pincode.$error.pattern" class="show alert alert-danger alert-sm">addypin should have at least 1 digit and 1 alphabet</div>
        <div id="duplicate-pin" style="display:none" class="alert alert-danger alert-sm">Addypin exists, try a different combination.</div>
        <div ng-show="InactivePins" class="show alert alert-{{messageClass}} alert-sm">{{message}}</div>
        <div id="duplicate-pin" style="display:none" class="alert alert-danger alert-sm">addypin exists, try a different combination.</div>
    </form>

            
   
<!--      <div class="row">
            <div class="col-xs-12">
              <h4> <b>Let's Go! </b></h4>
              <div class="text maps"> 
              <a style="margin-left:0px;" class="btn btn-map-image" href="https://www.google.com/maps/place/{{currentPin.lat}},{{currentPin.long}}" target="_blank"> 
              <img src="assets/img/icon/google-maps.png" alt="google maps"> </a> 
             
              <a class="btn btn-map-image" href="http://maps.apple.com/maps?saddr={{currentPin.lat}},{{currentPin.long}}" target="_blank"> 
              <img src="assets/img/icon/apple.png" alt="apple maps" > </a> 

              <a class="btn btn-map-image" href="https://waze.com/ul?ll={{currentPin.lat}},{{currentPin.long}}" target="_blank"> 
              <img src="assets/img/icon/waze.png" alt="waze maps"> </a> 
              
              <a class="btn btn-map-image" href="https://wego.here.com/?x=ep&map={{currentPin.lat}},{{currentPin.long}},15,normal" target="_blank"> 
              <img src="assets/img/icon/here.png" alt="here"> </a> 

              <a style="margin-right:0px;" class="btn btn-map-image" href="https://global.blackberry.com/en/index?zoom=17&lat={{currentPin.lat}}&lon={{currentPin.long}}" target="_blank"> 
              <img src="assets/img/icon/blackberry.png" alt="blackberry maps"> </a> 
            

              </div>
            </div>
          </div> -->

    
    </div>
    
    
   
 



        </div>


    </div>


                                
           

                        
                           
    
</div>


<script>
function codeValidation(code){
	if(typeof(code != "undefined") && code.length > 6){
	// code =  code.substr(0, code.length - 1);
	 code =  code.substr(0,6, code.length - 1);
	var x=document.getElementById("pincode").value=code;
 
		
	return false;
		
	}
	
}
</script>
<!-- Share Popup -->
<div class="windowsharepin" ng-show="shareShown">
    <div class="windowoverlay-inner deadcenter">
        <h3><i class="fa fa-send"></i>Share Pin</h3>
        <div class="close-button">
            <a href="javascript:void(0);" id="btn-close-share" ng-click="hideShare(currentPin)"><i class="fa fa-close"></i></a>
        </div>
        <div class="line"></div>
        <div class="marginxs">
            <h4>"{{currentPin.location_name}} [{{currentPin.code}}]"</h4>
            <form ng-submit="share()">
                <input type="text" class="form-control" placeholder="Type emails here separated by comma" ng-model="shareEmail">
                <input type="submit" class="mybtn btn-orange" value="Share">
            </form>
        </div>
        <div class="marginsm">
            <span>Navigate <a href="https://{{currentPin.code}}.addypin.com" target="_blank">https://{{currentPin.code}}.addypin.com</a></span><br>
            <span>Or retrieve map <a  href="mailto:{{currentPin.code}}@addypin.com">{{currentPin.code}}@addypin.com</a></span>
        </div>
    </div>
</div>

<!-- Delete Popup -->
<div class="windowdeletepin" ng-show="deleteShown">
    <div class="windowoverlay-inner-sm deadcenter">
        <h4><i class="fa fa-trash-o"></i> Are you sure you want to delete {{currentPin.code}}?</h4>
        <h5>Your friends will not be able to access it anymore!</h5>
        <div class="line"></div>
        <div class="marginxs centered">
            <a href="javascript:void(0);" class="btn-close-delete mybtn btn-gray" ng-click="confirmDelete(currentPin)"><i class="fa fa-close"></i> Confirm Delete</a>
            <a href="javascript:void(0);" class="btn-close-delete mybtn btn-orange" ng-click="hideDelete(currentPin)"><i class="fa fa-refresh"></i> Cancel</a>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="container page-margin container-my-pins">
    <div class="    ">
        <div class="col-md-10">
            <h3 class="removeTop">Welcome Nomad,</h3>
            <p class="capitalize">You have <strong>{{totalPins}}/{{totalPinsLimit}}</strong> {{userType }} addypins</p>

            

        </div>
        <div class="col-md-2"><a href="#" ng-click="logout()" class="logout"><i class="fa fa-sign-out"></i>Logout</a></div>
    </div>
    <div class="line marginxs"></div>
    <div class="row">
        <div class="col-md-12 col-xs-12 pins-holder">
            <div id="message-box" class="alert alert-{{messageClass}} text-left" ng-show="responseReturned" role="alert">{{message}}</div>



            
 <div class="row">
        <div class="col-md-12 col-xs-12">
<button type="button" id="personal" class="btn btn-primary" ng-click="showPersonal()" >Personal</button>
<button type="button" id="buissness" class="btn btn-default" ng-click="showBuissness()">Business</button>
</div>
</div>




            <ul>
          
           
              <div ng-if="pins.length < 1" class="alert alert-danger">
                No addypin found
              </div>
           


                <li ng-show="PersonalAddypin" class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 col-xxs-12 pin pins-block" ng-repeat="pin in pins" ng-if="pin.pin_type == '1'">
                     
                    
       
                    <div style="background: #fff;float:left;width:100%;">
                        <div class="col-xs-12 col-md-12 col-sm-12">
                            
                            <div class="pin-options-btn clearfix">
                            <span class="pin-options">
                                <a href="javascript:void(0);" class="editpin" ng-click="showEdit(pin)">
                                    <i class="fa fa-pencil-square fa-2x"></i>
                                </a> 
                                <a href="javascript:void(0);" class="deletepin" ng-click="showDelete(pin)">
                                    <i class="fa fa-trash-o fa-2x"></i>
                                </a>
                            </span>


                            <button class="btn btn-danger pull-right" ng-if="pin.is_active == 0"  ng-click="VerifyPin(pin)" class="pin-status"   ng-class="{'active': (pin.is_active==1)}"> 
                            {{(pin.is_active==1) ? 'verified' : 'Verify now'}}</button>

                             <span ng-if="pin.is_active == 1"  ng-click="VerifyPin(pin)" class="pin-status"   ng-class="{'active': (pin.is_active==1)}"> 
                            {{(pin.is_active==1) ? 'verified' : 'Verify now'}}</span>
                            </div>

                        </div>

                       
                        <div class="col-xs-6 col-md-4 col-sm-5 col-xxs-12 img-100 img-mobi-height">
                          
                            <img class="lazy" id="img_{{pin.pin_id}}" src="assets/map/{{pin.pin_id}}.png">
                        </div>
                        <div class="col-xs-6 col-md-8 col-sm-7 col-xxs-12 pin-identity gen-rel">
                                                   
                          
                            <!-- <div class="pin-options-heading"> <h3>  {{pin.code}} </h3> </div> -->

                          <div class="web-text">
                          {{pin.code}} | 
                            <i class="fa fa-globe" aria-hidden="true"></i> <a target="_blank"  href="http://{{pin.code}}.addypin.com" target="_top">{{pin.code}}.addypin.com</a>
                          </div>
                            <div class="address-block">
                              <h5 class="capitalize"> {{pin.name ? pin.name+' | ': pin.name }} {{pin.location_name}} </h5>
                              {{pin.address}}<br/>

                          {{pin.landmark ? pin.landmark+' | ': pin.landmark }} {{pin.postal_code}}

                            </div>

                               <h5><strong>Lat: </strong>{{pin.lat | number:4}} | <strong>Long: </strong>{{pin.long | number:4}} </h5>
                            <div class="mail-text">
                                  <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{pin.code}}@addypin.com?Subject={{pinData.code}}" target="_top">{{pin.code}}@addypin.com</a>
                                </div>


                        
                        <div class="share-pins">
                           
                            <a title="whatsapp" href="javascript:void(0);"
                                socialshare
                                socialshare-provider="whatsapp"
                                socialshare-url= "@addypin.com"
                                socialshare-text="Find me here {{pin.code}}.addypin.com or email {{pin.code}}"
                                class="share-whatsapp" >
                                <i class="fa fa-whatsapp"></i>
                            </a>


                            
                            
                            <a title="SMS" href="javascript:void(0);"
                                socialshare
                                socialshare-provider="sms"
                                socialshare-text="Find me here {{pin.code}}.addypin.com or email {{pin.code}}"
                                socialshare-url="@addypin.com"
                                class="share-sms" >
                                <i class="fa fa-mobile"></i>
                            </a>
                            <a title="Email" href="javascript:void(0);"
                                socialshare
                                socialshare-provider="email"
                                socialshare-subject="Check my addypin location {{pin.code}}"
                                socialshare-body="Hey there! Find me here {{pin.code}}.addypin.com or email {{pin.code}}@addypin.com. The addypin team "
                                class="share-email" >
                                <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                      </div>

                    </div>
                </li>


                <li ng-show="BusinessAddypin" class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 col-xxs-12 pin pins-block" ng-repeat="pin in pins" ng-if="pin.pin_type == '2'">
                 


                    <div style="background: #fff;float:left;width:100%;">
                        <div class="col-xs-12 col-md-12 col-sm-12">
                            
                            <div class="pin-options-btn clearfix">
                            <span class="pin-options">
                                <a href="javascript:void(0);" class="editpin" ng-click="showEdit(pin)">
                                    <i class="fa fa-pencil-square fa-2x"></i>
                                </a> 
                                <a href="javascript:void(0);" class="deletepin" ng-click="showDelete(pin)">
                                    <i class="fa fa-trash-o fa-2x"></i>
                                </a>

                               
                            </span>




                            <button class="btn btn-danger pull-right" ng-if="pin.is_active == 0"  ng-click="VerifyPin(pin)" class="pin-status"   ng-class="{'active': (pin.is_active==1)}"> 
                            {{(pin.is_active==1) ? 'verified' : 'Verify now'}}</button>

                             <span ng-if="pin.is_active == 1"  ng-click="VerifyPin(pin)" class="pin-status"   ng-class="{'active': (pin.is_active==1)}"> 
                            {{(pin.is_active==1) ? 'verified' : 'Verify now'}}</span>
                            </div>

                        </div>

                       
                        <div class="col-xs-6 col-md-4 col-sm-5 col-xxs-12 img-100 img-mobi-height">
                          
                            <img class="lazy" id="img_{{pin.pin_id}}" src="assets/map/{{pin.pin_id}}.png">
                        </div>
                        <div class="col-xs-6 col-md-8 col-sm-7 col-xxs-12 pin-identity gen-rel">
                                                   
                          
                        <!--     <div class="pin-options-heading"> <h3>  {{pin.code}} </h3> </div> -->

                          <div class="web-text">
                          {{pin.code}} | 
                            <i class="fa fa-globe" aria-hidden="true"></i> <a target="_blank"  href="http://{{pin.code}}.addypin.com" target="_top">{{pin.code}}.addypin.com</a>
                          </div>
                            <div class="address-block">
                              <h5 class="capitalize"> {{pin.name ? pin.name+' | ': pin.name }} {{pin.location_name}} </h5>
                              {{pin.address}}<br/>

                          {{pin.landmark ? pin.landmark+' | ': pin.landmark }} {{pin.postal_code}}

                            </div>

                               <h5><strong>Lat: </strong>{{pin.lat | number:4}} | <strong>Long: </strong>{{pin.long | number:4}} </h5>
                            <div class="mail-text">
                                  <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{pin.code}}@addypin.com?Subject={{pinData.code}}" target="_top">{{pin.code}}@addypin.com</a>
                                </div>


                        
                        <div class="share-pins">
                           
                            <a title="whatsapp" href="javascript:void(0);"
                                socialshare
                                socialshare-provider="whatsapp"
                                socialshare-url= "@addypin.com"
                                socialshare-text="Find me here {{pin.code}}.addypin.com or email {{pin.code}}"
                                class="share-whatsapp" >
                                <i class="fa fa-whatsapp"></i>
                            </a>


                            
                            
                            <a title="SMS" href="javascript:void(0);"
                                socialshare
                                socialshare-provider="sms"
                                socialshare-text="Find me here {{pin.code}}.addypin.com or email {{pin.code}}"
                                socialshare-url="@addypin.com"
                                class="share-sms" >
                                <i class="fa fa-mobile"></i>
                            </a>
                            <a title="Email" href="javascript:void(0);"
                                socialshare
                                socialshare-provider="email"
                                socialshare-subject="Check my addypin location {{pin.code}}"
                                socialshare-body="Hey there! Find me here {{pin.code}}.addypin.com or email {{pin.code}}@addypin.com. The addypin team "
                                class="share-email" >
                                <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                      </div>

                    </div>
                </li>
              
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid container-footer fxdbottom" ng-include="'modules/shared/views/footer.html'"></div>