<div class="background-image">
    
</div>
<div ng-include="'modules/shared/views/feedback.html'"></div>
<div id="background-image" class="manage-pins-input-container deadcenter centered">
    <form class="form1" name="lookupForm" ng-submit="lookup()">
        <div class="marginxs">
            <h4 class="lookup-title">Search for Businesses</h4>
        </div>

        <input type="text" name="keyword" class="form-control" placeholder="Business name" ng-model="keyword" ng-minlength="3" maxlength="50" required >

        <!-- ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z])\w{6,}$/" -->

        <div ng-show="lookupForm.keyword.$error.required && lookupForm.keyword.value == ''" class="alert alert-danger alert-sm">Required</div>
        <div ng-show="lookupForm.keyword.$error.minlength" class="alert alert-danger alert-sm">Minimum 3 characters</div>
        <div ng-show="lookupForm.keyword.$error.maxlength" class="alert alert-danger alert-sm">invalid addypin</div>
        <!-- <div ng-show="lookupForm.keyword.$error.pattern" class="alert alert-danger alert-sm">addypin should have at least 1 digit and 1 alphabet</div> -->
         
         
         

        <button type="submit" class="mybtn btn-orange">
            <i class="fa fa-check-circle"></i> Submit
        </button>
    </form>
</div>

<div class="container-fluid container-footer fxdbottom" ng-include="'modules/shared/views/footer.html'"></div>
<style>
.pac-container{
    z-index:99999 !important;
}
</style>

<!-- <script>
    $(function(){
       /* $('#background-image').parent().css("backgroundImage", "url(../img/LocationMap.jpg) no-repeat");*/
       $('#background-image').css('background-image','url(/assets/img/LocationMap.jpg)');
   });
</script> -->