<!-- Edit Popup -->
<style type="text/css">


.edit-box .edit_close {
    margin-top:15px;
}
   .set-space {
    padding: 10px 15px 0;
    margin-bottom: 50px;
    margin-top:20px;
}
.pin-options-heading h3 {
    display: inline-block;
}
.container-my-pins {
   font-family: 'Tahoma';
}
.container-my-pins .pin {
    min-height: 275px;
}
 
@media (max-width: 639px) {
.edit-box .edit_close {
    margin-top:0;
}
}


.margin_top{ margin-top: 70px; }
@media (max-width: 768px) {
.margin_top{ margin-top: 5px; }
}

.pin-identity {
    font-weight: 300;
}


</style>
<div ng-include="'modules/shared/views/feedback.html'"></div>
<div class="windoweditpin" ng-show="editShown">
    <h3><i class="fa fa-pencil-square"></i> Edit Pin</h3>
    <div class="close-button">
        <a href="javascript:void(0);" id="btn-close-edit" ng-click="hideEdit()"><i class="fa fa-close"></i></a>
    </div>
    <div id="map-location" class="line pdxxs "></div>
    <div  class="map-snapshot-lg gen-rel img-100">
        <div class="pin-code-container" id="map-container" style="height:250px;">
           
        </div>
       
    </div>
    <span class="pin-actions"><a href="javascript:void(0);" class="sharepin" ng-click="showShare(currentPin)"><i class="fa fa-send"></i> Share Pin</a></span>
    <span class="pin-actions"><a href="javascript:void(0);" class="deletepin" ng-click="showDelete(currentPin)"><i class="fa fa-trash-o"></i> Delete Pin</a></span>
    <form name="registerForm" ng-submit="UpdatePin()">
       
        <input type="text" id="address" class="form-control" ng-model="currentPin.address" placeholder="Address"  required>
        
        <input type="text" class="form-control fields-half-left" ng-model="currentPin.name" placeholder="Name">
        <input type="text" class="form-control fields-half-right" ng-model="currentPin.postal_code" placeholder="Postal Code">
        <input type="text" id="latitude" class="form-control fields-half-left" ng-model="currentPin.lat" placeholder="Latitude">
        <input type="text" id="longitude" class="form-control fields-half-right" ng-model="currentPin.long" placeholder="Longitude">
        <input type="text" class="form-control fields-half-left" ng-model="currentPin.location_name" placeholder="Location Name">
        <input type="text" class="form-control fields-half-right" ng-model="currentPin.landmark" placeholder="Landmark">
        <input type="text" name="pincode" maxlength="6" ng-minlength="6" ng-keyup="VerifyPincodeAvailability(currentPin.code)" ng-model-options="{allowInvalid: 'true'}" 
        ng-pattern="/^(?=.*[a-zA-Z])(?=.*\d).+$/" ng-maxlength="6" class="form-control pinbox" ng-model="currentPin.code" placeholder="Code">
        <div ng-show="registerForm.pincode.$error.minlength" class="show alert alert-danger alert-sm">addypin must be 6 characters long</div>
        <div ng-show="registerForm.pincode.$error.maxlength" class="show alert alert-danger alert-sm">addypin must be 6 characters long</div>
        <div ng-show="registerForm.pincode.$error.pattern" class="show alert alert-danger alert-sm">addypin should have at least 1 digit and 1 alphabet</div>
        <div id="duplicate-pin" style="display:none" class="alert alert-danger alert-sm">Addypin exists, try a different combination.</div>
        <div ng-show="InactivePins" class="show alert alert-{{messageClass}} alert-sm">{{message}}</div>
        <div id="duplicate-pin" style="display:none" class="alert alert-danger alert-sm">addypin exists, try a different combination.</div>
        <input type="submit" class="mybtn btn-orange" ng-class="buttonClass" value="Update">
    </form>
</div>

<!-- Share Popup -->
<div class="windowsharepin" ng-show="shareShown">
    <div class="windowoverlay-inner deadcenter">
        <h3><i class="fa fa-send"></i>Share Pin</h3>
        <div class="close-button">
            <a href="javascript:void(0);" id="btn-close-share" ng-click="hideShare(currentPin)"><i class="fa fa-close"></i></a>
        </div>
        <div class="line"></div>
        <div class="marginxs">
            <h4>"{{currentPin.location_name}} [{{currentPin.code}}]"</h4>
            <form ng-submit="share()">
                <input type="text" class="form-control" placeholder="Type emails here separated by comma" ng-model="shareEmail">
                <input type="submit" class="mybtn btn-orange" value="Share">
            </form>
        </div>
        <div class="marginsm">
            <span>Navigate <a href="https://{{currentPin.code}}.addypin.com" target="_blank">https://{{currentPin.code}}.addypin.com</a></span><br>
            <span>Or retrieve map <a  href="mailto:{{currentPin.code}}@addypin.com">{{currentPin.code}}@addypin.com</a></span>
        </div>
    </div>
</div>
<div class="windoweditpin hide ex-pd">
    <div class="close-button">
        <a href="#" id="btn-close-edit"><i class="fa fa-close"></i></a>
    </div>
    <div class="line pdxxs"></div>
    <div class="map-snapshot-lg gen-rel img-100">
        <div class="deadcenter pin-code-container">
            <span class="pin-code">AMR123</span>
            <span class="pin-point"></span>
            <i class="fa fa-map-marker"></i>
        </div>
        <img src="assets/img/map-snapshot-lg.jpg">
    </div>
    <span class="pin-actions"><a href="https://maps.google.com" target="_blank"><i class="fa fa-location-arrow"></i> View Map</a></span>
    <div class="marginxs pin-details">
        <h3>Pin Details</h3>
        <p><strong>Complete Address: </strong>A18 - 3rd Floor 9 Korah bin Shoreik st, Giza Square, Giza, Egypt.</p>
        <p><strong>Name: </strong>Amr Samir</p>
        <p><strong>ID: </strong>14658</p>
        <p><strong>Address Type: </strong>My Home</p>
        <p><strong>Location: </strong>Metro Supermarket</p>
        <p><strong>Addypin: </strong>AMR147</p>
    </div>
</div>
<!-- Delete Popup -->
<div class="windowdeletepin" ng-show="deleteShown">
    <div class="windowoverlay-inner-sm deadcenter">
        <h4><i class="fa fa-trash-o"></i> Are you sure you want to delete {{currentPin.code}}?</h4>
        <h5>Your friends will not be able to access it anymore!</h5>
        <div class="line"></div>
        <div class="marginxs centered">
            <a href="javascript:void(0);" class="btn-close-delete mybtn btn-gray" ng-click="confirmDelete(currentPin)"><i class="fa fa-close"></i> Confirm Delete</a>
            <a href="javascript:void(0);" class="btn-close-delete mybtn btn-orange" ng-click="hideDelete(currentPin)"><i class="fa fa-refresh"></i> Cancel</a>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="container set-space">
    <div class="row">
        <div class="col-md-12">
            <h3 class="margin_top" >{{loadingMessage}}</h3>
            <!-- <p ng-show="resultsTotal == 1">Link: <strong>{{pinLinkDisplay}}</strong> </p> -->
        </div>
    </div>
    <div class="line marginxs"></div>
    <div class="row">
        <div class="col-md-12 pins-holder container-my-pins">
            <ul>
                <li class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 col-xxs-12 pin pins-block ng-scope" ng-repeat="pin in results">
                    <div class="row" style="background: #fff;float:left;width:100%;">
                            
                          

                            <div class="col-xs-6 col-md-4 col-sm-5 col-xxs-12 img-100" >

                               
                                <!-- <img src="assets/img/map-snapshot.jpg"> -->
                                 <img class="lazy" id="img_{{pin.pin_id}}" src="assets/map/{{pin.pin_id}}.png">
                            </div>
                            <div class="col-xs-6 col-md-8 col-sm-7 col-xxs-12 pin-identity gen-rel">
                                
 <div class="pin-options-heading"> 


  <div class="web-text">
                          {{pin.code}} | 
                            <i class="fa fa-globe" aria-hidden="true"></i> <a target="_blank"  href="http://{{pin.code}}.addypin.com" target="_top">{{pin.code}}.addypin.com</a><span class="pin-status pull-right" ng-class="{'active': (pin.is_active==1)}"> 
                                {{(pin.is_active==1) ? 'verified' : 'Unverified'}}</span>
                          </div>

</div>


 

                          <div class="address-block">
                              <h5 class="capitalize"> {{pin.name ? pin.name+' | ': pin.name }} {{pin.location_name}} </h5>
                              {{pin.address}}
                              <br/>

                          {{pin.landmark ? pin.landmark+' | ': pin.landmark }} {{pin.postal_code}}
                            </div>

                                 <h5><strong>Lat: </strong>{{pin.lat | number:4}} | <strong>Long: </strong>{{pin.long | number:4}} </h5>
                                 <div class="mail-text">
                                  <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{pin.code}}@addypin.com?Subject={{pinData.code}}&body=Hey there! %0A%0A Find me here {{pin.code}}.addypin.com or email {{pin.code}}@addypin.com. %0A%0A The addypin team" target="_top">{{pin.code}}@addypin.com</a>
                                </div>


                           
                            
                        
                          
                            <div class="share-pins">
                                <a title="SMS" href="javascript:void(0);"
                                socialshare
                                socialshare-provider="whatsapp"
                                socialshare-url= "@addypin.com"
                                socialshare-text="Find me here {{pin.code}}.addypin.com or email {{pin.code}}"
                                class="share-whatsapp" >
                                <i class="fa fa-whatsapp"></i>
                            </a>
                            
                           
                            
                            <a title="SMS" href="javascript:void(0);"
                                socialshare
                                socialshare-provider="sms"
                                socialshare-text="Find me here {{pin.code}}.addypin.com or email {{pin.code}}@addypin.com"
                                socialshare-url="https://{{pin.code}}.addypin.com"
                                class="share-sms" >
                                <i class="fa fa-mobile"></i>
                            </a>
                            <a title="Email" href="javascript:void(0);"
                                socialshare
                                socialshare-provider="email"
                                socialshare-subject="Check my addypin location {{pin.code}}"
                                socialshare-body="Hey there! %0A%0A Find me here {{pin.code}}.addypin.com or email {{pin.code}}@addypin.com. %0A%0A The addypin team "
                                class="share-email" >
                                <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        
                        
                         
                        
                        
                            </div>
                        </div>
                  
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid container-footer fxdbottom" ng-show="showFooter" ng-include="'modules/shared/views/footer.html'"></div>
