<section class="content-header">
    <h1>
        Edit User - {{user_id}}
        <!--<small>Optional description</small>-->
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="callout callout-{{messageClass}}" ng-show="userUpdated">
                <p>{{message}}</p>
             </div>
            <!-- general form elements -->
            <div class="box box-primary">
                <!--<div class="box-header with-border">
                    <h3 class="box-title">Quick Example</h3>
                </div>&lt;!&ndash; /.box-header &ndash;&gt;-->
                <!-- form start -->
                <form role="form" ng-submit="saveUser()">
                    <div class="box-body">
                        <!--<div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" id="first_name" ng-model="userData.first_name">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" id="last_name" ng-model="userData.last_name">
                        </div>-->
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text"  class="form-control" id="email" ng-model="userData.email" >
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="radio" name="userStatus" ng-model="userData.Status"  value="Active" ng-checked="userData.is_active == 1"> Active
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="radio" name="userStatus" ng-model="userData.Status"  value="Banned" ng-checked="userData.is_banned == 1"> Banned
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="radio" name="userStatus" ng-model="userData.Status"  value="Inactive"
                                ng-checked="userData.is_deleted == 1"> Inactive
                            </label>
                        </div>
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                     <a href="https://admin.addypin.com/#/users/type/" class="btn btn-default"><i class="fa fa-arrow-left"> Back </i></a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div><!-- /.box -->
        </div>
    </div>
</section>