<!-- Content Header (Page header) -->
<section class="content-header">
<style type="text/css">
    
 .capitalize {
    text-transform: capitalize;
}
</style>
    <h1 class="capitalize">
         {{loc}} Users
        <!--<small>Optional description</small>-->
    </h1>
    <!--<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>-->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!--<div class="box-header">
                    <h3 class="box-title">Hover Data Table</h3>
                </div>&lt;!&ndash; /.box-header &ndash;&gt;-->
                <div class="box-body">
                    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-hover">

                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->

<!-- Delete Popup -->
<div class="windowdeletepin" ng-show="showDelete">
    <div class="windowoverlay-inner-sm deadcenter">
        <h4><i class="fa fa-trash-o"></i> Are you sure you want to delete?</h4>
        <div class="line"></div>
        <div class="marginxs centered">
            <a href="javascript:void(0);" class="btn-close-delete mybtn btn-gray" ng-click="deleted(user_id)"><i class="fa fa-close"></i> Confirm Delete</a>
            <a href="javascript:void(0);" class="btn-close-delete mybtn btn-orange" ng-click="cancel()"><i class="fa fa-refresh"></i> Cancel</a>
        </div>
    </div>
</div>