@media (min-width: 1200px) {
    .whyaddypin1, .whyaddypin2{min-height: 425px;}
}
@media (min-width: 1200px) and (max-width:1366px){
    .slide-bottom-overlay{font-size: 24px; line-height: 30px; padding: 0 50px;}
    .slide-text{top: 215px;}
    h1{font-size: 40px; line-height: 48px;}
    h2{font-size: 30px; line-height: 36px;}
    h3{font-size: 24px; line-height: 30px;}
    h4{font-size: 18px; line-height: 24px;}
    h5{font-size: 16px; line-height: 20px;}
    h6{font-size: 14px; line-height: 20px;}
    .whyaddypin1, .whyaddypin2{padding: 150px 50px !important;}
}
@media (max-width:1199px){
    .custom-width-80{width: 100%;}
    .resp-full{width: 100%;}
    .manage-pins-input-container{width: 50%;}
    .windoweditpin{width: 50%;}
    .wrapper-vh-100 h1{font-size: 36px;}
}
@media (min-width: 992px) and (max-width:1199px){
    .slide-text{width: 70%; left: 15%;}
    #bgsolid, .md1199nopadding, #navbar{padding: 0 !important;}
    .whyaddypin1, .whyaddypin2{padding: 120px 40px !important;}
    .icon-text{width: 70%;}
    .whyaddypin1, .whyaddypin2{min-height: 415px;}
}
@media (max-width:992px){
    .slide-text{width: 100%; left: 0;}
    .resp-no-padding{padding: 0 !important; }
    .resp-100{width: 100%;}
    .manage-pins-input-container{width: 60%;}
    .wrapper-vh-100 h1{font-size: 30px; line-height: 36px;}
}
@media (min-width: 768px) and (max-width:992px){
    .img-100 .lazy {
        height: 260px !important;
        width: 100%;
    }
}
@media (min-width: 769px) and (max-width:991px){
    .whyaddypin1, .whyaddypin2{min-height: 485px;}
    .testimonial-image{margin-left: 25px;}
    .testimonial-text{width: 65%;}
    .navbar-nav li a{font-size: 15px;}
    .wysija-paragraph{width: 150px;}
    .wysija-input{width: 150px;}
    .custom-width-newsletter{width: 100%; margin-left: 0;}
    .sidebar .profile-highlights{width: 100%; padding-left: 0; margin-top: 15px; margin-bottom: 25px;}
    .wrapper-vh-100 .deadcenter{position: absolute; top: 50%; left: 28%; transform: translate(-20%, -50%); z-index: 9;}
    .whyaddypin1, .whyaddypin2{padding: 120px 40px !important;}
    .icon-img{width: 100%; text-align: center;}
    .icon-text{width: 100%; padding-left: 0; text-align: center; padding-top: 20px;}
}
@media (min-width: 769px) and (max-width:1199px){
    .slide-text{top: 290px;}
        .swiper-container-horizontal > .swiper-pagination1{top: 225px !important;}
        .swiper-container-horizontal > .swiper-pagination3{bottom: 0 !important;}
    h1{font-size: 40px; line-height: 48px;}
    h2{font-size: 30px; line-height: 36px;}
    h3{font-size: 24px; line-height: 30px;}
    h4{font-size: 18px; line-height: 24px;}
    h5{font-size: 16px; line-height: 20px;}
    h6{font-size: 14px; line-height: 20px;}
}
@media (min-width: 481px) and (max-width:768px){
    .whyaddypin1, .whyaddypin2{padding: 120px 40px !important;}
    .icon-text{width: 70%;}
}
@media (max-width:768px){
    .home-banner-content{padding-top: 100px; padding-bottom: 100px;	}
    .navbar-fxd-wrapper{position: relative;}
    .whyaddypin1{border-right: none !important;}
    .field-register{width: 100%; border-radius: 5px; border: 1px solid #aeaeae; margin-bottom: 15px;}
    .btn-submit{display: inline-block; border-radius: 5px; border: 1px solid #aeaeae;}
    .wrapper-vh-100{}
    .wrapper-vh-100 .deadcenter{position: absolute; top: 50%; left: 28%; transform: translate(-20%, -50%); z-index: 9;}
    .wrapper-vh-100 h1{font-size: 24px; line-height: 30px;}
    .windowoverlay-inner{width: 75%;}
    /*.windoweditpin{width: 90%;}*/
    .page-margin{margin-top: 145px;}
    .main-nav{width: 100%; text-align: center;}
    .main-nav li a{padding: 20px 0;}
    .main-nav li.resp-none{display: none;}
    .header-newsletter{right: 75px; padding-top: 10px;}
    .custom-width-newsletter{width: 100%; margin-left: 0;}
    .managementsub li{width: 49.5%;}
    .managementsubmain li{width: 49.5%; margin-bottom: 25px; padding: 0 50px;}
    .testimonial-image{margin: 0 auto 25px auto; float: none;}
    .testimonial-text{width: 100%; text-align: center; padding: 0 50px; border: none; margin: 0;}
    .resp-mrgbt{margin-bottom: 40px;}
    .resp-nobottommargin{margin-bottom: 0 !important;}
    .resp-txtsm{font-size: 14px; line-height: 24px;}
    .marginxs{margin-top: 15px; margin-bottom: 15px;}
    .marginsm{margin-top: 40px; margin-bottom: 40px;}
    .marginmd{margin-top: 60px; margin-bottom: 60px;}
    .site-logo{width: 100%; height: 35px; margin-top: 15px; background: url(../img/logo.png) center center no-repeat;}
    .slide-text{top: 265px;}
    .swiper-container-horizontal > .swiper-pagination1{top: 200px !important;}
    .resp-txt-center{text-align: center;}
    .resp-mrg{ margin-top: 20px; margin-bottom: 20px; }
    .resp-mrg2{ margin-top: 40px; margin-bottom: 40px; }
    .resp-padding{padding-left: 15px !important; padding-right: 15px !important;}
    .resp-no-padding{padding: 0 !important;}

    h1{font-size: 36px; line-height: 42px;}
    h2{font-size: 26px; line-height: 32px;}
    h3{font-size: 20px; line-height: 28px;}
    h4{font-size: 16px; line-height: 22px;}
    h5{font-size: 14px; line-height: 20px;}
    h6{font-size: 14px; line-height: 20px;}
    .sidebar{padding-left: 15px;;}
    .profile-image{float: none; margin: auto; margin-bottom: 20px;}
    .profile-highlights{float: left; text-align: center; padding-left: 0 !important; width: 100%; margin-bottom: 20px;}
    .sidebar-team{margin-top: 15px; padding-top: 15px; border-top: 1px solid #eaeaea;}
    .round-image{width: 150px; height: 150px; border-radius: 100%; float: left; overflow: hidden;}
.home-bottom-text{width: 65%; float: left; padding-left: 30px;}
.form-container-narrow{width: 90%; padding-left: 0; padding-right: 0;}
.feedback-form {top: 100px;}
.deadcenter {/*top: 250px;*/}
}

.pc .desktop-none{display: none !important;}
.phone .mobile-none, .mobi .mobile-none{display: none !important;}
.phone .pin-options, .mobi .pin-options{display: block !important;}

@media (min-width:481px){
    /*.desktop-none{display: none !important;}*/
}
@media (max-width:480px){
    .home-banner-content{padding-top: 30px; padding-bottom: 30px;	}
    .whyaddypin1, .whyaddypin2{padding: 50px 40px !important;}
    .icon-img{width: 100%; text-align: center;}
    .icon-text{width: 100%; padding-left: 0; text-align: center; padding-top: 20px;}
    .site-logo{background-size: 120px; height: 15px;}
    .field-noborder{margin-right: 0; width: 82%; font-size: 11px; margin-left: 0; }
    /*.mobile-none{display: none !important;}*/
    .ex-pd{padding-top: 40px !important;}
    .windowoverlay-inner{width: 100%; padding: 15px;}
    .windowoverlay-inner-sm{width: 100%;}
    .windowoverlay-inner-sm .mybtn{display: block;}
    .container-footer{display: none;}
    .page-margin{margin-bottom: 15px;}
    h3{margin-top: 0;}
    .windoweditpin{width: 100%; padding: 15px;}
    .manage-pins-input-container{width: 95%;}
/*    .page-margin{margin-top: 80px;}*/
    /*.site-logo{display: none;}*/
    .main-nav li{padding: 0 5px !important;}
    .main-nav li a{font-size: 13px;}
    /*.main-nav li i{display: none !important;}*/
    .wrapper-vh-100{}
    .slide-text-bg{padding: 25px 15px;}
    .icon-outset-holder{width: 100%;}
    .icon-outset-holder > .circle-iconsm{margin: auto;}
    .swiper-container-horizontal > .swiper-pagination1{top: 150px !important;}
    .slide-text{top: 200px;}
    .slide-bottom-overlay{font-size: 16px; line-height: 22px; padding: 0;}
    .col-xxs-12{width: 100% !important;}
    h1{font-size: 30px; line-height: 36px;}
    h2{font-size: 22px; line-height: 28px;}
    h3{font-size: 16px; line-height: 24px;}
    .form-fields-left, .form-fields-right{width: 100%;}
    .round-image{width: 150px; height: 150px; float: none; margin: auto;}
    .home-bottom-text{width: 100%; float: left; padding-left: 0; margin-top: 25px; margin-bottom: 25px;}
    .form-container-narrow{width: 100%; padding-left: 0; padding-right: 0;}
	.feedback-form {top: 125px;}
    .map-snapshot-lg{max-height: 175px;}
    .img-mobi-height {
       /* height: 160px;
        overflow: hidden*/;
    }
}
@media (max-width: 360px){
    .brokeragesub li{width: 100%;}
    .brokeragesubmain li{width: 100%;}
    .swiper-container-horizontal > .swiper-pagination1{top: 150px !important;}
    .slide-text{top: 200px;}
    .slide-bottom-overlay{font-size: 14px; line-height: 20px; padding: 0;}
     h1{font-size: 22px; line-height: 28px;}
    h2{font-size: 16px; line-height: 22px;}
    h3{font-size: 14px; line-height: 20px;}

}
@media (max-width: 300px){
    .main-nav li a{font-size: 12px;}
}
@media (max-width: 320px){
    .slide-text > .marginsm{margin-top: 25px;}
    .mdgray{float: left; margin-top: 20px; text-align: center;}
    .map-snapshot-lg{max-height: 100px;}

}