/************type***************/

@font-face {
  font-family: 'Tahoma';
  src: url('font/Tahoma.eot');
  src: url('font/Tahoma.eot?#iefix') format('embedded-opentype'),
    url('font/Tahoma.woff2') format('woff2'),
    url('font/Tahoma.woff') format('woff'),
    url('font/Tahoma.ttf') format('truetype'),
    url('font/Tahoma.svg#Tahoma') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{overflow-x: hidden !important; color: #555555; font-size: 16px !important; line-height: 30px !important;
 font-family: 'raleway', sans-serif !important;
 height: 100%;
 min-height: 100%;
}

h4.lookup-title{
  color: white;
}
li.cat-item-10, li.cat-item-9{display: none;}
/************************* fonts, buttons, icons and text blocks styles**********************************/
h1, h2, h3, h4, h5, h6{margin-top: 0; padding: 0;}
h1{font-size: 48px; color: #ffffff; font-weight: 700; line-height: 58px;}
h2{font-size: 36px; color: #ffffff; font-weight: 600 !important; line-height: 44px;}
h3{font-size: 30px; color: #000000; font-weight: 400; line-height: 36px;}
h4{font-size: 24px; color: #000000; font-weight: 400; line-height: 30px !important;}
h5{font-size: 18px; color: #000000; font-weight: 400; line-height: 24px;}
h6{font-size: 14px; color: #000000; font-weight: 600; line-height: 24px;}
.search-results h1{font-size: 30px; color: #000000; font-weight: 400; line-height: 36px;}
.bdr-btm-3{ background: url('../img/bdr-btm-3.png') center bottom no-repeat; padding-bottom: 30px; margin-bottom: 30px;}
.bdr-btm-3-white{ background: url('../img/bdr-btm-3-white.png') center bottom no-repeat; padding-bottom: 30px; margin-bottom: 30px;}
.heading-inline{display: inline;}
.white{color: #ffffff;}
.home-parallax h4{font-weight: 400; color: white; margin-top: 50px;}
a{color: #000000; text-decoration: none; -webkit-transition: 0.3s ease-in-out !important;-moz-transition: 0.3s ease-in-out !important;-ms-transition: 0.3s ease-in-out !important;-o-transition: 0.3s ease-in-out !important;transition: 0.3s ease-in-out !important;}
a:hover{color: #000000; text-decoration: none;}
ul{margin: 0; padding: 0}
ul li{list-style: none;}
p{margin: 15px 0 0 0 !important; padding: 0;}
.centered{text-align: center;}
.right{text-align: right;}
.just{text-align: justify;}
.italic{font-style: italic;}
.mybtn{padding: 7px 25px 7px 25px !important; border: none; outline: none; margin-top: 15px; float: right;
  color: #ffffff; font-size: 18px; font-weight: 600;
  -webkit-transition: 0.3s ease-in-out !important;
  -moz-transition: 0.3s ease-in-out !important;
  -ms-transition: 0.3s ease-in-out !important;
  -o-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}
.reg-continue .fa.fa-times-circle-o {
    color: #1A1A1A;
}
.mybtn:hover{text-decoration: none;}
.mybtn:focus, .mybtn2:focus{color: #ffffff; border: none;}
.btn-black{border: 2px solid #777777; color: #777777;}
.btn-black:hover{border: 2px solid #000000;}
.btn-slide{color: #ffffff; border: 2px solid #ffffff; background: rgba(0, 0, 0, 0.3);}
.btn-slide:hover{background: rgba(0, 0, 0, 0.6); color: #ffffff; text-decoration: none; border: 2px solid #ffffff;}
.icon-outset p{padding-left: 25px;}
.icon-outset i{margin-left: -25px !important; margin-right: 12px; color: #ffffff;}
.circle-icon-lg{width: 210px; height: 210px; border-radius: 100%; background: #00b1ff; position: relative; margin: auto; font-size: 90px; font-weight: 700; color: #ffffff;}
/************************* fonts, buttons, icons and text blocks styles end**********************************/

/************************* margins and paddings***************************************************************/
.ex-pd{padding-left: 40px !important; padding-right: 40px !important;}
.pdxxs{padding-top: 10px; padding-bottom: 10px;}
.pdxs{padding-top: 30px; padding-bottom: 30px;}
.marginxs{margin-top: 30px; margin-bottom: 30px;}
.marginsm{margin-top: 70px; margin-bottom: 70px;}
.marginmd{margin-top: 90px; margin-bottom: 90px;}
.marginlg{margin-top: 150px; margin-bottom: 150px;}
.mrg-bt-40{margin-bottom: 40px;}
.mrg-bt-20{margin-bottom: 20px;}
.marginauto{margin: auto;}
.notopmargin{margin-top: 0 !important;} .nobottommargin{margin-bottom: 0 !important;} .noleftmargin{margin-left:  0 !important;} .norightmargin{margin-right:  0 !important;}
.notoppadding{padding-top: 0 !important;} .nobottompadding{padding-bottom: 0 !important;} .noleftpadding{padding-left:  0 !important;} .norightpadding{padding-right:  0 !important;}
.custom-width-80{width: 80%; margin: auto;}
.custom-width-90{width: 90%; }
/************************* margins and paddings end***************************************************************/

/*****************backgrounds, borders and lines**************************************************************************************/
.line{height: 1px; border-bottom: 1px solid #c5c5c5;}
.line-light{height: 1px; border-bottom: 1px solid #e2e2e2;}
.line-light-half{height: 1px; border-bottom: 1px solid #e2e2e2; width: 40%; margin: 40px auto;}
/*****************backgrounds, borders and lines**************************************************************************************/

/*************************** general global styles**************************************************************************************/
.deadcenter{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9;}
.deadcenter2{position: absolute; top: 30%; left: 50%; transform: translate(-50%, -30%); z-index: 9;}
.ic_round{width: 80px; height: 80px; background: #000000; border-radius: 100%; color: #ffe100; font-size: 36px; margin: 0 auto 15px auto; }

.gen-transition{-webkit-transition: 0.3s ease-in-out !important;-moz-transition: 0.3s ease-in-out !important;-ms-transition: 0.3s ease-in-out !important;-o-transition: 0.3s ease-in-out !important;transition: 0.3s ease-in-out !important;}
.gen-rel{position: relative;}
.img-100 img{max-width: 100%; height: auto !important;}
/*************************** general global styles end**************************************************************************************/

/*******************main navigation************************************************/
.navbar-fxd-wrapper{position: fixed; top: 0; left: 0; z-index: 9999; background: rgba(255, 255, 255, 1.0); width: 100%; border-bottom: 1px solid #d0d0d0;}
.site-logo{width: 140px; margin-top: 15px; margin-bottom: 10px; max-height: 38px;background: url('../img/logo.png') top left no-repeat; background-size: 100%;}
.site-logo:hover{border-bottom: none;}
.main-nav{float: right; margin-bottom: 0;}
.main-nav li{display: inline-block; padding: 0 15px;}
.main-nav li a{display: block; padding: 21px 0; color: #000000; font-weight: 600; border-bottom: none; background: url(../img/black-border-lg.png) center bottom no-repeat; background-size: 0 3px;}
.main-nav li:last-child a{padding: 3px 15px; background: #00b1ff; border-radius: 3px; color: #ffffff;}
.main-nav li:last-child a:hover{background: #000000;}
.main-nav li a:hover{text-decoration: none; border-bottom: none; background: url(../img/black-border-lg.png) center bottom no-repeat; background-size: 100% 3px;}
/*******************main navigation ends************************************************/

/********************************footer****************************************************/
.container-footer{background: #000000;}
#menu-footer-menu{margin-left: 80px;}
.container-footer ul li a{display: block; -webkit-transition: 0.3s ease-in-out !important;-moz-transition: 0.3s ease-in-out !important;-ms-transition: 0.3s ease-in-out !important;-o-transition: 0.3s ease-in-out !important;transition: 0.3s ease-in-out !important;}
.container-footer ul li a{color: #aeaeae; font-size: 14px;}
.container-footer{color: #dddddd; font-size: 14px;}
.container-footer ul li a:hover{color: #ffffff; border-bottom: none;}
.container-footer h5{color: #ffffff; text-transform: uppercase;}
.footer-social{margin: 0 0 5px 0;}
.footer-social li:first-child a{padding-left: 0;}
.footer-social li{display: inline;}
.footer-social li a{display: initial !important; font-size: 24px !important; color: #758aa5; padding: 3px; -webkit-transition: 0.3s ease-in-out !important;-moz-transition: 0.3s ease-in-out !important;-ms-transition: 0.3s ease-in-out !important;-o-transition: 0.3s ease-in-out !important;transition: 0.3s ease-in-out !important;}
.footer-social li a:hover{color: #ffffff; border-bottom: none;}
/********************************footer ends****************************************************/

/*******************************home slider************************************/
.home-slide-container{opacity: 0; height: 100%; overflow: hidden;}
.visible{opacity: 1.0 !important;}
.loader {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 300px;
  z-index: 999999;
}
.loaded{display: none !important;}
.wrapper-vh-100{position: relative; float: left; color: #ffffff; width: 100%;
	background: url('../img/main-bg.jpg') center top no-repeat; background-size: cover;}
  .wrapper-vh-100 label{font-weight: 400;}
  .wrapper-vh-100 h1, .wrapper-vh-100 h2, .wrapper-vh-100 h3{color: #ffffff;}
  .wrapper-vh-100 h1{font-size: 48px;  font-weight:600;}
  .slide-text{position: absolute; top: 250px; left: 19%; width: 62%; z-index: 1;}

  .slide-text h1, .slide-text h2, .slide-text h3{color: #ffffff; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.95);}
  .slide-text h1{margin-bottom: 30px; text-transform: uppercase;}
  .slide-text h3{font-weight: 400; text-transform: uppercase;}
  /*******************************home slider ends************************************/

  /********************************************* some predefined styles****************************************/
  /**************misc******************/
  .page-margin{margin-top: 95px; margin-bottom: 95px;}
  .page-heading{background: url('../img/bdr-btm-double.png') left bottom repeat-x #f2f2f2; padding: 25px 0 20px 0;}
  .form-fields, .form-fields2{width: 100%; box-sizing: border-box; padding: 10px 5px; font-size: 14px; float: left; margin-bottom: 25px; border: 1px solid #c9c9c9;}
  .form-fields-dark, .form-fields2-dark{width: 100%; box-sizing: border-box; padding: 10px; font-size: 14px; float: left; margin-bottom: 25px; background: rgba(0, 0, 0, 0.8);border: 1px solid #c9c9c9; color: white}
  .form-fields-left{width: 48%; float: left; box-sizing: border-box; padding: 5px; font-size: 14px; margin-bottom: 20px; border: 1px solid #c9c9c9;}
  .form-fields-right{width: 48%; float: right; box-sizing: border-box; padding: 5px; font-size: 14px; margin-bottom: 20px; border: 1px solid #c9c9c9;}
  .form-fields2-dark{ height: 200px;}
  .form-terms{float: left; margin-bottom: 25px !important; font-size: 13px; line-height: 22px;}
  .wpcf7-list-item{display: block; margin-bottom: 10px; font-size: 14px;}
  .wpcf7-submit{float: right; text-align: center; background: #000000; color: #ffffff; border: none; outline: none; font-weight: 600;
   padding: 5px 25px; box-sizing: border-box; text-transform: uppercase;               
   -webkit-transition: 0.3s ease-in-out !important;
   -moz-transition: 0.3s ease-in-out !important;
   -ms-transition: 0.3s ease-in-out !important;
   -o-transition: 0.3s ease-in-out !important;
   transition: 0.3s ease-in-out !important;
 }
 .xslinks-dark{color: #aeaeae;}
 .xslinks-dark:hover{color: #ffffff; border-bottom: none;}
 .mdgray{color: #aeaeae; font-size: 13px;}

 .contact-info-box {padding-left: 15px;}
 .contact-info-box .icon-outset i{color: #000000;}
 /**************misc ends*****************/

 .box-header{font-weight: 700; font-size: 18px; text-align: center; padding: 10px 5px; margin-bottom: 25px; font-family: 'roboto';}
 .bg-gray{background: #eaeaea;}
 .bg-yellow{background: #ffcc00; color: #000000;}
 .bg-orange{background: #00bc89; color: #ffffff;}

 .btn-gray:hover, .btn-yellow:hover, .btn-orange:hover{ border-bottom: none; background: #000000; color: #ffffff;}
 .btn-gray{background: #7f7f7f; font-size: 14px;}
 .btn-yellow{background: #ffcc00; font-size: 14px; color: #000000;}
 .btn-orange{background: #333; font-size: 14px;}

 .form-container{background: #ffffff; margin-top: 100px; padding: 25px; margin-bottom: 100px; float: left; width: 100%;}
 .form-container-narrow{padding: 25px; width: 80%; margin: auto;}


 #btn-close, #btn-close2, #btn-close3{float: right; font-size: 18px;}
 .show{display: block;}
 .hide{display: none;}
 .pagination {
  clear:both;
  /*padding:20px 0;*/
  margin: 0;
  position:relative;
  line-height:13px;
  font-weight: 600;
}

.pagination span{
  display:block;
  float:left;
  margin: 2px 20px 2px 0;
  padding:4px 7px;
  text-decoration:none;
  width:auto;
  color: #2e2b28;
}
.pagination span.current{
  display:block;
  float:left;
  margin: 2px 2px 2px 0 !important;
  padding:4px 7px;
  border-radius: 2px;
  text-decoration:none;
  width:auto;
  color: #2e2b28;
  background: #cccccc;
}

.pagination a {
  display:block;
  float:left;
  margin: 2px 2px 2px 0;
  padding:4px 7px;
  text-decoration:none;
  width:auto;
  color: #28a395;
  border-radius: 2px;
}

.pagination a:hover{
  background: #28a395; color: #ffffff;
}

.pagination .current{
  padding:6px 2px 5px 2px;
  color:#2e2b28;
}

.pagination-container{position: relative;}
.pagination-absolute-container{position: absolute; top: 30px; right: 0; }
.testimonials-page h3{font-size: 24px;}

.btn-save-changes{display: block; width: 100%; text-align: center; background: #302210 !important; color: #ffffff; border: none; outline: none; 
 padding: 6px; box-sizing: border-box; text-transform: uppercase;}
 .bdr-lft{border-left: 3px solid red; }
 .manage-pins-input-container{width: 30%;}
 .manage-pins-input-container .mybtn{float: none !important;}
 .fxdbottom{position: fixed; bottom: 0; left: 0; z-index: 999; width: 100%; }
 .footer-inner{padding-top: 10px;}
 .feedback i{ }
 .form1{padding: 7px 0 15px 0;}
 /*.btn-submit{outline: none; margin-left: -10px; background: #00b1ff; padding: 4px 15px; font-size: 16px; color: #ffffff; border-top: 1px solid #aeaeae; border-right: 1px solid #aeaeae; border-bottom: 1px solid #aeaeae; border-radius: 0 5px 5px 0;}*/
 .btn-submit{outline: none; background: #00b1ff; padding: 5px 15px; font-size: 16px; color: #ffffff; border:none; border-radius: 5px;}
 .btn-submit2{outline: none;  padding: 4px 15px; font-size: 16px; font-weight: 600; color: #ffffff; border: none; border-radius: 5px; float: right;}
 .field-register{width: 50%; padding: 4px 10px 4px 10px; border-radius: 5px 0 0 5px; border-left: 1px solid #aeaeae;
   border-top: 1px solid #aeaeae; border-right: none; border-bottom: 1px solid #aeaeae; color: #555555; }
   .pins-holder{min-height: 400px; padding-bottom: 200px;}
   .pin{position: relative; background: #eaeaea; display: inline-block; min-height: 150px; padding-top: 15px; padding-bottom: 15px; border: 4px solid #ffffff;}
   .container-my-pins .pin {background: #fff;min-height: 350px;padding: 15px;border: 2px solid #d8d8d8;margin-top: 10px;margin-bottom: 10px;}
   .map-snapshot{background: #0048a2; max-height: 280px; overflow: hidden;}
   .map-snapshot img{opacity: 0.2; height: 280px !important;}
   .map-snapshot-lg{background: #0048a2; max-height: 350px; overflow: hidden;}
   .map-snapshot-lg img{opacity: 0.5;}
   .pin-identity{background: #ffffff; padding: 15px; font-weight: 700;}
   .pin-code-container{text-align: center;}
   .pin-code-container i{color: #ffffff; font-size: 24px; margin-top: 5px;}
   .pin-code{background: #ffffff; padding: 5px 10px; font-weight: 700; border-radius: 3px; display: block;}
   .pin-point{background: url('../img/triangle.png') center center no-repeat; display: block; width: 15px; height: 8px; margin: auto;}
   .pin-options{ display: block; position: absolute; /*right: 25px; bottom: 30px;*/ letter-spacing: 5px; font-size: 16px; /*display: none;*/ z-index: 999;}
   .pin-options a{color: #444444;}
   .pin-options a:hover{text-decoration: none; color: #000000;}
   .pin:hover > .pin-options{display: block;}

   .windoweditpin{position: fixed; width: 35%; height: 100%; padding: 20px; top: 0; right: 0; z-index: 9999; background: #eaeaea; overflow: auto;}
   .windowsharepin{position: fixed; width: 100%; height: 100%; padding: 100px 50px 0 50px; top: 0; right: 0; z-index: 9999; background: rgba(0, 0, 0, 0.8);}
   .windowdeletepin{position: fixed; width: 100%; height: 100%; padding: 100px 50px 0 50px; top: 0; right: 0; z-index: 9999; background: rgba(0, 0, 0, 0.8);}
   .windowoverlay-inner{width: 50%; background: #eaeaea; padding: 50px 50px 10px 50px;}
   .windowoverlay-inner-sm{width: 480px; background: #eaeaea; padding: 20px;}
   .close-button{float: right; margin-top: -34px; font-size: 22px;}
   .btn-close-delete{float: none !important;}
   .pin-actions{font-size: 18px; padding: 15px 25px 5px 0; display: inline-block; margin-bottom: 15px;}
   .pin-actions a{color: #000000;}
   .pin-actions a:hover{text-decoration: none; border-bottom: 1px solid #000000; color: #000000;}
   .fields-half-left{width: 48% !important; float: left; margin: 15px 0;}
   .fields-half-right{width: 48% !important; float: right; margin: 15px 0;}
   .pin-details p{border-bottom: 1px solid #aeaeae; padding: 10px 0; margin: 0 !important;}

   /***********************loader*******************************/

   .cssload-loader {
     width: 100px;
     height: 10px;
     position: absolute;
     left: 50%;
     margin-left: -10px;
     bottom: 5px;
     z-index:999;
     transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
   }
   .cssload-loader > div {
     content: " ";
     width: 10px;
     height: 10px;
     color: rgb(33,150,243);
     font-size: 26px;
     /*color: red;*/
     border-radius: 100%;
     position: absolute;
     animation: cssload-shift 2.3s linear infinite;
     -o-animation: cssload-shift 2.3s linear infinite;
     -ms-animation: cssload-shift 2.3s linear infinite;
     -webkit-animation: cssload-shift 2.3s linear infinite;
     -moz-animation: cssload-shift 2.3s linear infinite;
   }
   .cssload-loader > div:nth-of-type(1) {
     animation-delay: -0.46s;
     -o-animation-delay: -0.46s;
     -ms-animation-delay: -0.46s;
     -webkit-animation-delay: -0.46s;
     -moz-animation-delay: -0.46s;
   }
   .cssload-loader > div:nth-of-type(2) {
     animation-delay: -0.92s;
     -o-animation-delay: -0.92s;
     -ms-animation-delay: -0.92s;
     -webkit-animation-delay: -0.92s;
     -moz-animation-delay: -0.92s;
   }
   .cssload-loader > div:nth-of-type(3) {
     animation-delay: -1.38s;
     -o-animation-delay: -1.38s;
     -ms-animation-delay: -1.38s;
     -webkit-animation-delay: -1.38s;
     -moz-animation-delay: -1.38s;
   }
   .cssload-loader > div:nth-of-type(4) {
     animation-delay: -1.84s;
     -o-animation-delay: -1.84s;
     -ms-animation-delay: -1.84s;
     -webkit-animation-delay: -1.84s;
     -moz-animation-delay: -1.84s;
   }



   @keyframes cssload-shift {
     0% {
      left: -38px;
      opacity: 0;
      /*background-color: rgb(33,150,243);*/
    }
    10% {
      left: 0;
      opacity: 1;
    }
    90% {
      left: 77px;
      opacity: 1;
    }
    100% {
      left: 136px;
      /*background-color: rgb(70,150,209);*/
      opacity: 0;
    }
  }

  @-o-keyframes cssload-shift {
   0% {
    left: -38px;
    opacity: 0;
    /*background-color: rgb(33,150,243);*/
  }
  10% {
    left: 0;
    opacity: 1;
  }
  90% {
    left: 77px;
    opacity: 1;
  }
  100% {
    left: 136px;
    /*background-color: rgb(70,150,209);*/
    opacity: 0;
  }
}

@-ms-keyframes cssload-shift {
	0% {
		left: -38px;
		opacity: 0;
		/*background-color: rgb(33,150,243);*/
	}
	10% {
		left: 0;
		opacity: 1;
	}
	90% {
		left: 77px;
		opacity: 1;
	}
	100% {
		left: 136px;
		/*background-color: rgb(70,150,209);*/
		opacity: 0;
	}
}

@-webkit-keyframes cssload-shift {
	0% {
		left: -38px;
		opacity: 0;
		/*background-color: rgb(33,150,243);*/
	}
	10% {
		left: 0;
		opacity: 1;
	}
	90% {
		left: 77px;
		opacity: 1;
	}
	100% {
		left: 136px;
		/*background-color: rgb(70,150,209);*/
		opacity: 0;
	}
}

@-moz-keyframes cssload-shift {
	0% {
		left: -38px;
		opacity: 0;
		/*background-color: rgb(33,150,243);*/
	}
	10% {
		left: 0;
		opacity: 1;
	}
	90% {
		left: 77px;
		opacity: 1;
	}
	100% {
		left: 136px;
		/*background-color: rgb(70,150,209);*/
		opacity: 0;
	}
}

/***********************loader*******************************/

/* Custom Alert */
.alert.alert-sm { padding: 2px 5px; margin-top: 5px; margin-bottom: 0px; }
/* //Custom Alert */

/*************************registration****************************/
.reg-main{min-height: 100vh; max-height: 100vh;}
.page-margin-reg{/*margin-top: 115px;*/ margin-bottom: 0;}
.registration-form{ z-index: 99; width: 100%; background: #eeeeee; padding: 15px;
  bottom: 0; left: 0;
  -webkit-transition: 0.3s ease-in-out !important;
  -moz-transition: 0.3s ease-in-out !important;
  -ms-transition: 0.3s ease-in-out !important;
  -o-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}
.f-width{width: 100%;}
/*.registration-form input{margin-bottom: 15px;}*/
.registration-form label{color: #000;font-weight: normal;margin: 5px 0 0;}
.registration-form .btn-primary{background: #333; border-color: #333;}
.registration-form .overtext{top: -4px;right: 24px;color: #999;position: absolute;}
.reg-form-before{height: 100%; overflow: hidden;}
.reg-form-after{height: 100%; overflow: auto; padding-top: 135px !important;}
.smaller-form-field{width: 85% !important; float: left;}
.form-handle{display: block; width: 30px; height: 30px; float: left; border: none; outline: none;}
.form-handle:visited{border: none; outline: none;}
.form-open{background: url('../img/form-open.png') center center no-repeat;}
.form-close{background: url('../img/form-close.png') center center no-repeat;}
.pin-validator{width: 30px; height: 30px; float: left;color: #009DCA; font-size: 24px; margin:0 -10px; }
span.disabled{opacity: 0.5; color: #ffffff !important;}
.reg-pin-preview{min-height: 100vh; background: rgba(0, 0, 0, 0.7);}
.low-opac{opacity: 0.5;}
.bg-black{background: #000000;}
.message-abs{position: absolute; left: 0; top: 0; width: 100%; padding: 15px; background: #222222; font-size: 12px; color: #ffffff; z-index: 99;}
.pin-number{background: #ffffff; padding: 0 3px; border-radius: 5px; font-size: 11px; font-weight: 700; line-height: 5px; margin-left: 3px;}
button.disabled{pointer-events: none; opacity: 0.5;}
.registration-form form p{margin: 5px 0 !important; color: #ffffff; font-size: 12px; font-weight: 700;}
@media (min-width: 991px){
  .map-container { height: 485px; display: block;  padding-left: 0px !important;}
}
@media (max-width: 990px){
  .map-container { height: 180px; display: block; padding-left: 0px !important;}
.reg-continue .mybtn{margin-bottom: 60px;}
}
@media(min-width: 769px){
  .page-margin-reg{margin-top:83px;}
}
@media(max-width: 768px){
  .page-margin-reg{margin-top:5px;}
  .manage-pins-input-container {
        padding-bottom: 55px;
    }
}
/*************************registration****************************/
.pac-container{
    z-index:99999 !important;
}
  .padd-bottom-small {
    padding-bottom: 50px;
  }
/**************************styles 09-07-2017*********************/
.whyaddypin1{padding: 150px 100px !important; color: #ffffff; background: url('../img/bg-2.jpg') center center no-repeat; background-size: cover;}
.whyaddypin2{padding: 150px 100px !important; color: #ffffff; background: url('../img/bg-3.jpg') center center no-repeat; background-size: cover;}
.icon-img{width: 95px; height: 55px; float: left; text-align: right; }
.icon-text{width: 80%; float: left; padding-left: 20px; font-size: 18px;}

.bdr-top-white{border-top: 2px solid #ffffff;}
.bdr-rt-white{border-right: 2px solid #ffffff;}
.options span{color: #00b1ff; font-weight: 600;}
.options h3{background: #555555; color: #ffffff; border-radius: 30px; display: inline-block; padding: 10px 30px;}
.bottom-form-container{background: url('../img/bg-bottom.jpg') center center  no-repeat; background-size: cover; background-attachment: fixed;}
/**************************styles 09-07-2017*********************/

.home-banner-content{padding-top: 200px; padding-bottom: 200px;	}
.text-white{color:#ffffff;}
.pinbox{text-transform: uppercase;}
.feedback-form{    z-index: 999;position: absolute;top: 39px;width: 100%;}
#overlayform{cursor: pointer}
@media(max-width:320px){
  #pincodediv{
    max-width: 86%;
  }

}
.background-image
{

  background: url(../img/lookup.jpg);
  background-repeat: no-repeat;
  /*background-size: cover;*/
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
}

h3.manage-pings{
  color: white;
  font-size: 18px;
}

.background-old
{
  background: url('../img/manage-pins.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-position: top;
  background-attachment: fixed;
  top: 0;
  /*background-size: auto 100%;*/
}

.background-manage
{
  background: url('../img/manage-pins1.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-position: top;
  background-attachment: fixed;
  top: 0;
  /*background-size: auto 100%;*/
}
#tooltip_map{
    position: relative;
    z-index: 1000;
    background: #009DCA;
    text-align: center;
    width: 100%;
    color: #FFF;
    font-size: 14px;
}

li.pin{
  color: black
}

li.pin .pin-status {
  background: red;
  color: white;
  border-radius: 5px;
  padding: 0 7px;
  float: right;
  font-size: 12px;
  font-weight: normal;
  text-transform: capitalize;
}

li.pin .pin-status.active{
  background: green;
}

.alert{
  padding: 5px 10px !important; 
}
.close-btn{
  color: white
}


.container-my-pins{
  color: white
}

.container-my-pins .logout{
  margin-top: 23px;
  display: block;
  color: white;
}
.share-pins{
  text-align: left;
}

/******** 22-08-2017 ********/
.pin-options-btn {
    padding: 15px 0;
}
.pin-options-heading h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
}
.address-block {
    padding: 5px 0;
    line-height: 22px;
    font-weight: 400;
}
.mail-text {
    padding: 0 0 10px 0;
}
.address-block h5 {
    margin: 0;
    padding: 0;
    font-weight: 600;
}


.share-pins.align-center{
  text-align: center;
}
.share-pins.share-pin-home{
  position: absolute;
  bottom: 0;
}

.share-pins .share-whatsapp{
  background: green;
  display: inline-block;
  padding: 0px 10px;
  color: white;
  text-align: center;
  border-radius: 5px;

}

.share-pins .share-sms{
  background: #999999;
  display: inline-block;
  padding: 0px 15px;
  color: white;
  text-align: center;
  border-radius: 5px;

}

.share-pins .share-email{
  background: #54a9f2;
  display: inline-block;
  padding: 0px 10px;
  color: white;
  text-align: center;
  border-radius: 5px;


}

.capitalize{
   text-transform: capitalize;
}


