h4{font-size: 24px; color: #000000; font-weight: 400; line-height: 30px !important;}
.windowdeletepin{position: fixed; width: 100%; height: 100%; padding: 100px 50px 0 50px; top: 0; right: 0; z-index: 9999; background: rgba(0, 0, 0, 0.8);}
.windowoverlay-inner-sm{width: 480px; background: #eaeaea; padding: 20px;}
.deadcenter{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9;}
.line{height: 1px; border-bottom: 1px solid #c5c5c5;}
.marginxs{margin-top: 30px; margin-bottom: 30px;}
.centered{text-align: center;}
.mybtn{padding: 7px 25px 7px 25px !important; border: none; outline: none; margin-top: 15px; float: right;
      color: #ffffff; font-size: 18px; font-weight: 600;
      -webkit-transition: 0.3s ease-in-out !important;
  -moz-transition: 0.3s ease-in-out !important;
  -ms-transition: 0.3s ease-in-out !important;
  -o-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}
.mybtn:hover{text-decoration: none;}
.mybtn:focus, mybtn2:focus{color: #ffffff; border: none;}

.btn-gray:hover, .btn-yellow:hover, .btn-orange:hover{ border-bottom: none; background: #000000; color: #ffffff;}
.btn-gray{background: #7f7f7f; font-size: 14px;}
.btn-orange{background: #ff9000; font-size: 14px;}
.btn-close-delete{float: none !important;}