<section class="content-header">
    <h1>
        Edit Pin - {{pin_id}}
        <!--<small>Optional description</small>-->
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="callout callout-{{messageClass}}" ng-show="pinUpdated">
                <p>{{message}}</p>
             </div>
            <!-- general form elements -->
            <div class="box box-primary">
                <!--<div class="box-header with-border">
                    <h3 class="box-title">Quick Example</h3>
                </div>&lt;!&ndash; /.box-header &ndash;&gt;-->
                <!-- form start -->
                <form role="form" ng-submit="savePin()">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="code">Code</label>
                            <input type="text" class="form-control" id="code" ng-model="pinData.code">
                        </div>
                        <div class="form-group">
                            <label for="lat">Latitude</label>
                            <input type="text" class="form-control" id="lat" ng-model="pinData.lat">
                        </div>
                        <div class="form-group">
                            <label for="long">Longitude</label>
                            <input type="text" class="form-control" id="long" ng-model="pinData.long">
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" ng-model="pinData.address">
                        </div>
                        <div class="form-group">
                            <label for="landmark">Landmark</label>
                            <input type="text" class="form-control" id="landmark" ng-model="pinData.landmark">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="radio" name="pinData.status"  value="Active" ng-model="pinData.PinStatus" ng-checked="pinData.is_active == 1"> Active
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="radio" name="pinData.status"  value="Inactive" ng-model="pinData.PinStatus" ng-checked="pinData.is_deleted == 1"> Inactive
                            </label>
                        </div>
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                       <a href="#/pins/all" class="btn btn-default"><i class="fa fa-arrow-left"> Back </i></a>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div><!-- /.box -->
        </div>
    </div>
</section>