	<div class="container-fluid navbar-fxd-wrapper" id="header" ng-include="'modules/shared/views/header.html'"></div>

<div class="container">
	<div class="row text-center" id="rand_img">
		<img src="assets/img/pexels-photo-87221.jpeg" align="center" alt="Limit Reached" style="height:400px; width:100%">
	</div>
	<div class="row text-center" style="background-color:#666; color:#FFF; padding:10px;">
	   <i>Ops! You've already activated this addypin</i>

	</div>
	
</div>


<div class="container-fluid container-footer fxdbottom" id="footer" ng-include="'modules/shared/views/footer.html'"></div>
<style>
.container-footer{
	display:block !important;
}
</style>
<script>

document.title = 'Expired Link';
	var windowWidth = $(window).width(); 
	var windowHeight = $(window).height();
	
	
var header = $('#header').height(); 
header = header ? header : 75;
var footer = $('#footer').height(); 
footer = footer ? footer : 60;

if(windowWidth < 800){
	footer = footer + 50;	
	}
	
var nhw = parseFloat(header) + parseFloat(footer);
 if(windowWidth<800){
windowHeight = parseFloat(windowHeight) - parseFloat(nhw) - 85;
}else{
windowHeight = parseFloat(windowHeight) - parseFloat(nhw) ;

}

 var classCycle=['404_1.jpg','404_2.jpg','404_3.jpg','404_4.jpg'];

    var randomNumber = Math.floor(Math.random() * classCycle.length);
    var classToAdd = classCycle[randomNumber];
    
    $('#rand_img').empty().append('<img src="assets/img/pexels-photo-87221.jpeg" align="center" alt="Expired Link" style="width:100%; height:'+windowHeight+'px" >');


	 
 
</script>
