<div class="container-fluid bottom-form-container feedback-form" ng-show="showFeedback">
    <div class="container noleftpadding norightpadding">
        <div class="row marginsm centered">
           <div role="alert" class="alert alert-success" ng-if="feedbackSuccess" id="feedbackSuccess">
                          <span class="error">
                            Thanks for your feedback, we will get back to you shortly!</span>
                                                  
                     </div>
            <div class="col-md-12" ng-show="showFeedbackForm">
                <div class="form-container-narrow">
                <div class="pull-right">
                    <a href="#" ng-click="slideToggle()" class="close-btn">
                        <i class="fa fa-close font-close"></i> 
                    </a>
                </div>
               
                    <h2 class="white bdr-btm-3-white wow fadeInUp" data-wow-delay="1s">Contact Addypin</h2>
                    
                  
                     
                    <form class="wow fadeInUp" id="feedbackForm" name="feedbackForm" ng-submit="sendContactUs(email_address,text)">
                    <div role="alert" class="alert alert-danger" ng-if ="feedbackForm.$submitted && feedbackForm.$invalid">
                          <span class="error" ng-show="feedbackForm.email.$error.required">
                            Email Required!</span>
                          <span class="error" ng-show="feedbackForm.email.$error.email">
                            Enter valid email!</span>
                            <span class="error" ng-show="feedbackForm.feedback.$error.required">
                            Feedback Required!</span>
                          
                     </div>
                     
                        <input type="email" name="email" id="email"  value="" required class="form-fields-dark" placeholder=" Please enter your email address" ng-model="email_address" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" >
                        
                        
        <div ng-show="feedbackForm.email.$error.pattern" class="alert alert-danger alert-sm">Please check email format</div>
        
        
        
                        <textarea name="feedback" id="feedback"  class="form-fields2-dark" placeholder="Please leave your message here" ng-model="text" required></textarea>
                            <div ng-show="feedbackForm.feedback.$error.required && feedbackForm.feedback.value == ''" class="alert alert-danger alert-sm">Required</div>
                            
                  
                        <button style="float:right;" type="submit" class="btn-submit2 btn btn-primary" ng-disabled="!feedbackForm.email.$valid || submittingFeedback"><i class="fa fa-check"></i> {{submitText}}</button> 
                        
                   <!--  <a href="#" ng-click="slideToggle()" class="close-btn btn btn-default" style="float:right; margin-right: 10px;">
                        <i class="fa fa-close font-close"></i> Close
                    </a>-->
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>