<div class="container footer-inner resp-full hidden-sm hidden-xs mobile-none">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
            <div class="mdgray">
                <a ui-sref="privacy">Privacy</a> | <a ui-sref="terms">Terms</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
             <div class="mdgray">
                Crafted by <a href="http://ict.cairenes.co" target="_blank">Cairenes Solutions</a> LLC ©since 2014
            </div>
        </div>
        <div class="col-md-6 col-sm-6 text-right">
            <ul class="footer-social">

                <li><a href="https://www.linkedin.com/company-beta/10224951" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="https://twitter.com/addypin" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
               <!-- <li><a href="#" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-facebook-official"></i></a></li>-->
            </ul>


        </div>

    </div>
</div>


<div class="container footer-inner resp-full hidden-lg hidden-md ">
    
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-8 text-left">
            <div class="">
              <b>addypin @ 2017</b>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-4 text-right">
            <ul class="footer-social">
                <li><a href="https://www.linkedin.com/company-beta/10224951" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="https://twitter.com/addypin" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
            </ul>
        </div>
                <!--<li><a href="#" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-facebook-official"></i></a></li>-->
      

    </div>
</div>
<style>
.container-footer{
    display:block !important;
}
</style>