<div class="container">
    <div class="row">
        <a class="navbar-brand site-logo" href="#" ui-sref="main"></a>
        <ul class="main-nav">
            <li><a href="#" ui-sref="main"><i class="fa fa-home"></i> Home</a></li>
            <!-- <li class="desktop-none"><a href="registration.php"><i class="fa fa-plus-circle"></i> Register Pin</a></li> -->
            <li><a href="#" ui-sref="pin.manage"><i class="fa fa-map-marker"></i> Manage PINs</a></li>
            <li><a href="#" ui-sref="lookup.index"><i class="fa fa-search"></i> Search</a></li>
            <li class="resp-none" ><a ng-click="slideToggle()" id="overlayform" class="feedback"><i class="fa fa-envelope"></i> Feedback</a></li>
            <!-- -->
        </ul>
    </div>
</div>

