<div class="container-fluid navbar-fxd-wrapper" ng-include="'modules/shared/views/header.html'"></div>
<div class="cssload-loader deadcenter hide">
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>

</div>
<div ui-view>
    <!-- Content Goes Here (From Angular Includes) -->
</div>
<div class="container-fluid container-footer fxdbottom" ng-include="'modules/shared/views/footer.html'"></div>
<style>
.pac-container{
	z-index:99999 !important;
}
</style>