<div class="container-fluid navbar-fxd-wrapper" ng-include="'modules/shared/views/header.html'"></div>
<div class="cssload-loader deadcenter hide">
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>

</div>
<div class="container page-margin">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>Processing...</h1>
            <!--<p>We care about the acccuracy of your registered address, please register your address from your mobile</p>-->
        </div>
    </div>
</div>
<div class="container-fluid container-footer fxdbottom mobile-none" ng-include="'modules/shared/views/footer.html'"></div>