<div class="container-fluid navbar-fxd-wrapper" ng-include="'modules/shared/views/header.html'"></div>
<div ng-include="'modules/shared/views/feedback.html'"></div>
<div class="cssload-loader deadcenter hide">
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>

</div>
<div class="container padd-bottom-small">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>Privacy Policy</h1>
            <p>Date of last update is 31stAugust, 2015.</p>

            <h2>Scope</h2>
            <p>addypin (hereinafter, <strong>"Company", "we", "us"</strong> or <strong>"our(s)"</strong>) provides a technological platform with the functionalities, among others, to allow users to store a location and geographical coordinates within a selected URL, which can then be send via an email to other persons in the contact list of the main user, thereby allowing addypin’s users to share its location.  addypin is available online through the website located at http://www.addypin.co (hereinafter, the <strong>"Site"</strong>).  Please read this <a href="#">Privacy Policy</a> (the <strong>"Policy"</strong>) along with our <a href="#">Terms</a> Use (the <strong>"Terms"</strong>), which are hereinto incorporated by reference.  This Policy shall apply to information and other personal data provided by you to us via the Site and/or addypin, and thereby constitutes a binding, legal agreement between you and addypin.  Unless otherwise indicated herein, defined terms in this Policy shall have the same meaning as set forth in our Terms.</p>
            <p>As used hereinto, the terms “collecting”, “using”, “processing” and/or “managing” information includes the use of the so-called cookies in a personal computer or mobile device, thereby subjecting the information and any personal data there into to our use and handling in any lawful manner deemed convenient by us, including but not limiting to, the collection, storage, evaluation, modification, deletion, usage, combination, disclosure, release and/or transfer of such information within our company or among our affiliates and subsidiaries, within Egypt or internationally.</p>

            <h2>Updates</h2>
            <p>addypin hereby reserves the right, at its sole and final discretion, to amend, modify, update, terminate or replace the Site and/or addypin or this Policy, without prior notice and at any time.  Upon modification of this Policy, the latest text will be posted on the Site for your convenience.  For the avoidance of any doubt, the date first written above shall be the one corresponding to the latest version of this Policy.  By using and accessing our Site and/or addypin from any update or modification notice and at any time thereafter, you are hereby indicating your acknowledgement and agreement to be bound under them.  If you do not agree to any change, your only remedy will be to cease and exit the Site/Addypin.</p>

            <h2>Minors</h2>
            <p>The site and addypin are designed and indented for use and access of persons over the age of thirteen (13) years.  We do not, to the best of our knowledge, collect personally identifiable information of children under thirteen (13) years.  addypin seriously undertakes the protection of the rights of minors and underage persons, and thereby encourages parents, legal guardians and responsible adults to be actively involved in the safe use of the Internet by such minors.  Through the use and/or simple access to the Site and/or addypin, you hereby represent and warrant that you are at least thirteen (13) years of age.</p>

            <h2>Third Parties</h2>
            <p>The Site and/or addypin may include hyperlinks to other websites.  If you click on a banner ad or other kind of advertising, you will be directed to such third party website.  Such third party websites may have and place upon their own cookies, privacy policies, terms of use, and even collect your own information and personal data.  Henceforth, your use and access thereof may be subject to different terms and conditions from the ones set forth herein, and such items may then require you to agree with them and accept any and all additional terms and conditions therein.  Please, read and revise such additional terms.  If you do not accept them, please stop use of addypin and exit the Site.  Upon the occurrence of a conflict between this Policy and the terms and conditions posted in any specific part of the Site and/or addypin, this Policy will prevail and take precedence with respect to such part of the Site and/or addypin.</p>

            <h2>Personal Data Collection, Purpose and Use</h2>
            <p>During your use and access of the Site and/or addypin, we may collect and use certain personally identifiable information about you (hereinafter, the “PI”), including certain information which may be used to identify you, such as your name and your email, or which may be used to identify your current or last indicated address, work or geo-location, such as coordinates, street, number, postal code, neighborhood, and certain types of data from and about your mobile device.  Some information, such as your zip code, near landmarks or geographic coordinates, cannot be used to personally identify you by themselves, but may be used to, when combined with other personal identifiers, such as your address, name and/or email.</p>
            <p>Company may use the PI for lawful purposes, including but not limiting to: </p>
            <ul>
                <li>Undertake our own business efforts.</li>
                <li>Keep a database of members and users of the Site and/or addypin and slice and dice any and all data obtained therefrom.</li>
                <li>Provide users with any goods and services obtained through the Site and/or addypin.</li>
                <li>Create aggregated databases to: (i) stride to provide you with a better user experience; (ii) improve the Site and/or addypin; and (iii) analyze how our platform is used.</li>
                <li>Contact you with addypin newsletters, marketing and other promotional materials which may be of interest to you and other users.  You may choose to no longer receive such communications, by simply following the unsubscribe instructions provided in any of the communications or emails sent to you, or through the pertinent preferences in your account within the Site and/or addypin.</li>
            </ul>
            <p>Government authorities in some countries may demand that Company discloses some of your data under formal request.  Under that circumstance, we will duly endeavor to reasonably protect your data, to the fullest extent permitted by applicable law.  By using and/or accessing our Site and/or addypin, you hereby acknowledge and agree that addypin may not be able to delete in its entirety, the data and information provided by you to us.  Such data, by its own nature, may be sliced and diced over the cloud to create new aggregated statistics, charts and databases.  We will undertake our reasonable efforts to make such data permanently inaccessible by unauthorized third parties.  No personally identifiable data will be used to create the aforementioned statistics, charts and databases, but only anonymized data.</p>

            <h2>Personal Data Release</h2>
            <p>We will not sell, rent, or lease any of your personal data or e-mail address to any third party for marketing purposes, and we shall take commercially reasonable steps to maintain the security of such data.  We will only release your collected personal data under the following circumstances: (i) if required by applicable law; (ii) in response to a valid request from a law enforcement agency; (iii) to duly authorized third parties; (iv) in order to resolve or investigate abuse complaints; (v) when the information is related to spiders, bots, and other technical issues; (vi) when attempting to block abusive users or to complain their ISP; and (vii) to defend ourselves or our affiliates from legal claims by third parties. Otherwise, your personal data will not be disclosed to any third party unless you have given your consent to such disclosure.  Our security and privacy policies are periodically reviewed and enhanced as necessary and only authorized personnel have access to user data.</p>

            <h2>Personal Data Transfer</h2>
            <p>Any personal information provided by you to addypin may be transferred and stored on computers, servers and datacenters located through the globe, that its, outside your county, state, provide and/or city; whose governmental jurisdictions could be less protective that those in your jurisdiction.  addypin uses sate of the art cloud services provided by Amazon Web Services.</p>

            <h2>Personal data owners’ rights and revocation of consent</h2>
            <p>Any user of the Site can make a request to us in order exercise his rights to: (i) Access his personal data; (ii) Rectify his personal data when inaccurate or incomplete; (iii) Cancel his personal data; (iv) Object with legitimate reasons the Process of his personal data; and (v) Revoke his consent for the process of his personal data at any moment, in order to stop its use.</p>
            <p>The exercise of your rights to access, rectify or cancel your personal data and/or object or otherwise revoke your consent should be requested in writing to us and must include, at least, the following information: (i) your name, address and e-mail address in order to notify you of the response to your request; (ii) documents establishing your identity; (iii) a clear and concise description of the personal data with regard to which you seek to exercise any of the abovementioned rights (when rectification is requested, modifications to be made should be specified and documentation provided to back up its request). For the exercise of your previous rights, addypin hereby provides its users with the following e-mail address: [support@addypin.co].</p>

            <h2>Cookies and beacons</h2>
            <p>We use cookies and other web files to collect information from our users.  A Cookie is a small data file that we transfer to your personal computer or mobile computing device when you browse the Site.  We may connect your PI with the cookies you receive.  Such cookies are used, among other purposes, to save your login data for the Site, or to better enable certain functionalities of the Site.  Cookies allow us to understand how you and other users interact with the Site and/or addypin.  Some cookies are deleted every time you log off from the Site, and others are stored into your personal computer.  By using our Site, you hereby agree to the use of cookies as described herein. Data acquired from cookies will be processed by several analytics platforms and may be used to determine your geographic location and other browsing patterns (e.g. IP address, browsing time, length and date, sections visited, websites accessed prior to the Site and type of Internet browser) or to acquire basic information about the computer, tablet, or mobile device used to access the Site.  Cookies usually expire within 30-60 days.</p>
            <p>We may also use files called web beacons, tags or similar within the Site.  Such web beacons are electronic images, sometimes only one pixel in size, embedded on websites.  Such files permit us to count the number of visits, deliver our services or generate statistics, among other uses.</p>
            <p>You can easily disable cookies by following the step-by-step guides located at <a href="www.allaboutcookies.org/manage-cookies/" target="_blank">www.allaboutcookies.org/manage-cookies/</a> and at <a href="www.youronlinechoices.com/uk/your-ad-choices" target="_blank">www.youronlinechoices.com/uk/your-ad-choices</a>.</p>

            <h2>Advertisement</h2>
            <p>Occasionally, we may augment your user experience by serving advertising and other commercial opportunities through the Site.  These advertisements may be tailored to the content of addypin.  The nature and extent of such advertising by us is subject to change without prior notice.</p>

            <h2>Advertising opt-out</h2>
            <p>We may use Google Analytics and other software tools (like remarketing codes) from time-to-time to gather information about websites you browse view or when you undertake specific actions in a website.  This allows us to provide you a customized, targeted advertising for our users. Therefore, third party vendors (such as Google, Inc.) may show you addypin’ ads on certain websites across the Internet, even after you leave our Site.  Such vendors may use cookies and other web beacons to track your Internet browsing in order to serve ads based on your past visits to the Site.  Google Analytics is a web analytics service provided by Google, Inc. (“Google”) which uses cookies to help us analyze how users use our Site.  The information generated therefrom will be transmitted to and stored by Google on servers located in the United States.  Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage.  By using this Site, you consent to the processing of data about you by Google in the manner and for the purposes set forth above.</p>
            <p>These and other actions allow us to engage with our users, based upon their past interactions with the Site.  Any information collected is used only for remarketing purposes and will not be used by third-party marketing vendors for any other purpose.</p>
            <p>If you do not wish to receive this type of advertising from us, now or in the future, you may opt-out by browsing the DoubleClick opt-out page currently located at www.google.com/settings/ads/onweb and following any instructions therein, or via the Network Advertising Initiative website currently located at www.networkadvertising.org/choices and following any instructions therein.  You can also set preferences for how Google advertises to you by using the Google Ad Preferences page currently located at www.google.com/settings/ads/onweb/, and if you want so, you can learn about by browsing www.google.com/settings/ads/onweb/ or even permanently by using a browser plugin such as the one located at http://www.google.com/ads/preferences/html/intl/en/plugin/. Our ads do not collect any sensitive personal data about you.</p>

            <h2>Takedown Notices, Claims of Infringement</h2>
            <p>addypin takes copyright infringement seriously, and is ready to remove any content posted upon duly notice and request by a copyright holder.  If you believe that any content or other material provided through the Site and/or addypin allegedly infringes the copyright of you or of a third party, please notify us of your claim to support@addypin.co (subject: "Takedown Request"). addypin may remove any content if it believes or has reason to believe such content infringes on another’s copyright, without prior notice and at any time and at its sole discretion.  We may also disable your or any user ability to use the Site or terminate your access thereof.</p>
            <p>The notification must be in writing and must contain the following information, at a minimum: (i) a signature and identification of the title holder and/or the person authorized to act; (ii) a description of the copyrighted work that allegedly has been infringed; (iii) contact information, such as your address and your email address (for us to deliver our response to you); and (iv) a statement indicating that the information provided in the notice is true and accurate.</p>
        </div>
    </div>
</div>
<div class="container-fluid container-footer fxdbottom mobile-none" ng-include="'modules/shared/views/footer.html'"></div>