<div class="container-fluid navbar-fxd-wrapper" ng-include="'modules/shared/views/header.html'"></div>
<div ng-include="'modules/shared/views/feedback.html'"></div>
<div class="cssload-loader deadcenter hide">
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>

</div>
<div class="container padd-bottom-small">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>Terms and Conditions</h1>
            <p>Date of last update: 30th of August, 2015</p>

            <h2>Scope</h2>
            <p>Addypin (hereinafter, the <strong>"Company", "we", "us"</strong> or <strong>"our(s)"</strong>) provides a technological platform with the functionalities, among others, to allow users to store a location and geographical coordinates within a selected URL, which can then be sent via an email to other persons in the contact list of the main user, thereby allowing addypin’s users to share their location.  Addypin is available online through the website located at http://www.addypin.co (hereinafter, the <strong>"Site"</strong>).  Please read these <a href="#">terms and conditions</a> (the <strong>"Terms"</strong>) along with our <a href="#">Privacy Policy</a> (the <strong>"Policy"</strong>), which are hereinto incorporated by reference.  These Terms shall rule and govern your use and access to of the Site and Addypin (and any other name used by Company from time to time), thereby constituting a binding, legal agreement between you and Addypin.</p>
            <p>You may enter the Site and use Addypin through your email at no cost, with no need for registration or creation of an account. All your account’s related requests to create, change, edit or delete will be managed through your email associated with your addypin address.</p>

            <h2>Third Parties</h2>
            <p>Some parts of the Site and/or addypin and your use and access thereof may have different terms and conditions from the ones set forth herein, and such items may then require you to agree with them and accept any and all additional terms and conditions therefrom. Please, read and revise such additional terms.  If you do not accept them, please stop use of addypin and exit the Site.  Upon the occurrence of a conflict between these Terms and the terms and conditions posted in any specific part of the Site and/or addypin, these Terms will prevail and take precedence with respect to such part of the Site and/or Addypin.</p>

            <h2>Acknowledgement</h2>
            <p>Through the simple and continued use and/or access of the Site, the use of some or all of addypin’s functionalities, you hereby acknowledge and agree that you have read, understood and agreed to be bound by and under this Terms and the Policy.  If you do not agree to be bound under the terms and conditions set forth there into, please stop use and access of the Site/addypin and exit.  If you are entering into these Terms on behalf of a legal entity, you hereby represent and warrant that you have sufficient right and authority to enter into these Terms and to bind that entity as provided herein and, in such case, <strong>"you"</strong> and <strong>"your(s)"</strong> shall also refer to and apply to such legal entity.</p>

            <h2>Updates</h2>
            <p>Addypin hereby reserves the right, at its sole and final discretion, to amend, modify, update, terminate or replace the Site, Addypin or these Terms, without prior notice and at any time.  Upon modification of these Terms, the latest text will be posted on the Site for your convenience.  For the avoidance of any doubt, the date first written above shall be the one corresponding to the latest version of these Terms.  By using and accessing our Site and/or Addypin from any update or modification notice and at any time thereafter, you are hereby indicating your acknowledgement and agreement to be bound under them.  If you do not agree to any change, your only remedy will be to cease and exit the Site/Addypin.</p>

            <h2>Minors</h2>
            <p>The site and addypin are designed and indented for use and access of persons over the age of thirteen (13) years.  Any use therefrom by minors under such age is explicitly forbidden.  Through the use and/or simple access to the Site and/or Addypin, you hereby represent and warrant that you are at least thirteen (13) years of age, or older, as of the date of first access thereof and that, if you are still a minor upon the applicable law in your jurisdiction of residence.</p>

            <h2>Personal Data</h2>
            <p>During your use and access of the Site and/or Addypin, we may collect and use certain information which may be used to identify you, such as your name and your email, or which may be used to identify your current or last indicated address, work or geo-location, such as coordinates, street, number, postal code, neighborhood, including certain types of information from and about your mobile device. </p>
            <p>Company may use this information for lawful purposes, including but not limiting to: </p>
            <ul>
                <li>Our own business purposes.</li>
                <li>Keep a database of members and users of the Site and/or addypin and slice and dice any and all data obtained therefrom.</li>
                <li>Provide users with any goods and services obtained through the Site and/or addypin.</li>
                <li>Create and display browsing and consumption preferences profiles of you and other users, charts, aggregated statistics and databases and other data.</li>
            </ul>
            <p>Government authorities in some countries may demand that Company discloses some of your data under formal request.  Under that circumstance, we will duly endeavor to reasonably protect your data, to the fullest extent permitted by applicable law.  Please refer to our <a href="#">Policy</a> for further information regarding the collection, treatment and safeguard of your personal data.</p>

            <h2>Service</h2>
            <p>To prevent any violations or breach of the Terms hereof and to enforce any remedy thereupon, we may undertake any technical, legal or managerial measures deemed convenient, at our sole and final discretion, without prior notice to you or any other user. The Site, addypin and any services therefrom are based in Egypt and, thus, are not designed or customized for any other country. You may use them only if they comply with the laws of the country from which you are accessing them.</p>
            <p>You must obtain, at your own expense, all equipment and services needed to access the Site and/or addypin, including but not limited to: a mobile wireless data plan, high-speed Internet access and suitable computer or mobile device hardware.</p>

            <h2>Suggestions</h2>
            <p>We are receptive to any suggestions, comments and feedback you may wish to send us.  We will gladly use such feedback for improvements to the Site and/or Addypin.  You may send us any feedback through an email to: [support@addypin.co].  All suggestions delivered to us by that or any other means will be our sole and exclusive property and you hereby assign us all right, title and interest to any and all of such feedback, including all patent, copyright, trade secret rights and any intellectual property rights therein.  You hereby acknowledge and agree to that assignment.</p>

            <h2>Content</h2>
            <p>The Site and/or Addypin may contain areas where you and other users may post, create or upload multimedia content such as text, graphics, audio, images or other content.  By delivering and uploading such content, you hereby grant addypin an unlimited, non-exclusive, perpetual (or for as long as it is allowed by applicable law), transferable, royalty fee right and license for such content.  You hereby represent and warrant that you have sufficient right, title, licenses, consent and releases to use such content.</p>
            <p>You agree not to, and will not undertake, motivate, or facilitate the use or access of the Site and/or addypin to:</p>
            <p>
                a.	Help, motivate, or enable others to infringe these Terms.<br/>
                b.	Plagiarize or infringe the intellectual property rights of a third party.<br/>
                c.	Use any automated process to access or use our services or any process, whether automated or manual, to capture data or content from any of our services for any reason.<br/>
                d.	Upload, post or otherwise disseminate any content that: (i) infringes or violates the intellectual property rights of any third party, including any trademark, copyright, trade secret, moral rights, ancillary rights or other rights therefrom, or causes or results in the violation of any applicable law or regulation, (ii) in any way exploits the Site and/or addypin other than as specifically sanctioned by us; (iii) encourages any conduct that could promote or cause discrimination, racism, hatred, harm or violence against any individual or group of persons; (iv) threatens minors in any manner; (v) promotes or encourages illegal, fraudulent or inappropriate activities.<br/>
                e.	Remove or modify any copyright, trademark or other proprietary rights notice that appears on any portion of the Site or addypin; and/or (vi) promotes or disseminates any content that is or may be considered obscene, pornographic, inappropriate or otherwise objectionable.<br/>
                f.	Engage in an activity that is harmful to addypin, or its clients, advertisers, affiliates, vendors, providers or related parties.<br/>
                g.	Copy, modify, create a derivative work of, reverse engineer, decompile or otherwise attempt to extract the source code of the Site, addypin or any part thereof.<br/>
                h.	Delivers or attempts to deliver, any unsolicited advertising, electronic email, promotion, spam or chain letters.<br/>
                i.	Attempts or causes to, decompile, reverse engineer and/or disassemble any part of the software, functionalities, technology, components or parts of the Site and/or addypin.<br/>
                j.	Collect, receive, transfer or disseminate any personally identifiable information of any user of the Site and/or addypin, without the express authorization of the holder.<br/>
                k.	Impersonate or misrepresent any affiliation with any legal entity or person.<br/>
                l.	Otherwise violate any applicable law or endanger any right.
            </p>
            <p>addypin will be entitled to investigate any possible or likely violations to the aforementioned items and these Terms in general.  We will cooperate with any law enforcement agency or authority to prosecute any of these activities.  We have the right to monitor the use and access to the Site and addypin in order to ensure their optimal operation and compliance with these Terms and any other regulation.</p>

            <h2>No Spam</h2>
            <p>We take spam very seriously, and we encourage you and our users to report any spam activities to us. We will not tolerate, nor allow others to, use your account or any information regarding the Site and/or addypin to send any other unsolicited bulk communication to any of our users or to any third party. You may not access the Site and/or addypin to harvest or collect any information about our users, for any purpose.</p>

            <h2>Third party links</h2>
            <p>Occasionally, we may use the Site or addypin to display hyperlinks to the websites of third parties. We are not responsible for the examination or evaluation of their businesses, services or the content of their websites. You should review their privacy policies, disclaimers and terms of use, which will govern any access and/or use of their services by you.  You acknowledge and assume all responsibility and risk arising out from such websites or resources.  These Terms and our Policy are not applicable to them and will not govern your use therefrom. We are not responsible for the content, availability or accuracy of such websites, along with the content, products, or services available there into. You acknowledge sole responsibility for and assume all risk arising out from the use of any and all such websites or resources. We shall not be liable or responsible for the veracity, accuracy, merit or availability of such websites.  Any display thereof does not and will not constitute any endorsement of such third party website.</p>

            <h2>Advertisement</h2>
            <p>Occasionally, we may augment your user experience by serving advertising and other commercial opportunities through the Site.  The nature and extent of such advertising by us is subject to change without prior notice.  Please refer to the Policy for information regarding advertisement opt-out.</p>

            <h2>Ownership</h2>
            <p>All content included within the Site, such as text, graphics, logos, button icons, images, audio clips and software, is the property of addypin and is protected by Egyptian and other international copyright laws.  Reproduction of the content of the Site without our authorization is prohibited.  Except as provided for in these Terms, you own your content and we own our content, including but not limited to visual interfaces, interactive features, graphics and design or the Site, addypin and other products, software, aggregate user review ratings, feedback and all other elements and components of the Site, excluding your content.</p>
            <p>We own, control or otherwise have sufficient title for the copyrights, trademarks, service marks, trade names, and other intellectual and proprietary rights arising out of or associated with the Site, which are protected by copyright, trade dress, patent, trademark laws and all other applicable intellectual and proprietary rights and laws.  As such, you will not remove, alter or obscure any proprietary right notice incorporated or displayer through the Site; nor modify, reproduce, distribute, create derivative works or adaptations of, publicly display or in any way exploit any of our content, in whole or in part, except as expressly authorized by us.</p>

            <h2>Proprietary marks</h2>
            <p>The addypin logo and all other addypin’ graphics, logos, page headers, button icons, scripts, and service names are trademarks, certification marks, service marks, or other trade dress of addypin and/or its affiliates.  They may not be used in connection with any product or service that is not ours, in any manner, without our permission.  All other trademarks not owned by us or our subsidiaries that appear on the Site are the property of their respective parties and title holders and/or owners, who may or may not be affiliated with, connected to, or sponsored by us or our affiliates.   Screenshots of certain portions of the Site, for which the copyright is held by the author(s) or the company that created the software, that is, addypin, is believed to fall under the legal doctrine known as “Fair Use” in the United States of America (and similar laws in other jurisdictions).</p>

            <h2>Waiver</h2>
            <p>The failure of addypin to exercise or enforce any right or provision of this Agreement shall not constitute a waiver of such right or provision. If any provision of these Terms is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the Terms shall remain in full force and effect.</p>

            <h2>Indemnity</h2>
            <p>You hereby agree to indemnify, defend and hold harmless addypin and/or its successors, affiliates and successors, and its and their managers, employees, agents or other officers, from and against any and all claims, actions, liabilities, demands, losses, causes of action, procedures, orders, damages, costs and expenses (including any reasonable attorney's fees and expert witnesses therefrom) of any type of nature, incurred by addypin and/or its successors, affiliates and successors, and its and their managers, employees, agents or other officers, arising out of or relating to your use of the Site, your breach of this Terms or the Policy, or your infringement of any rights of any third party.</p>

            <h2>Disclaimer of Warranties, Limitations on Liability</h2>
            <p>BY ACCESSING OR USING THE SITE AND/OR ADDYPIN, YOU REPRESENT AND WARRANT THAT YOU HAVE READ, UNDERSTOOD, AND AGREED TO BE BOUND BY AND UNDER THESE TERMS. YOUR USE OF OUR SITE IS AT YOUR OWN RISK.  WE SUPPLY OUR SERVICES “AS IS,” “WITH ALL FAULTS,” AND “AS AVAILABLE”, INCLUDING ALL CONTENT, SOFTWARE, MATERIALS, SERVICES, FUNCTIONS, AND/OR INFORMATION MADE AVAILABE THROUGH.   ACCORDINGLY, ADDYPIN IS NOT LIABLE TO YOU FOR ANY LOSS OR DAMAGE THAT MIGHT ARISE THEREFROM AND ADDYPIN HEREBY DISCLAIMS ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING WARRANTIES AS TO THE PRODUCTS OR SERVICES OFFERED BY THIRD PARTIES LISTED ON THE SITE AND/OR ADDYPIN, NON-INFRINGEMENT, MERCHANTABILITY, AND FITNESS FOR A PARTICULAR PURPOSE.  THE USE ON YOUR PART OF THE PRODUCTS AND/OR SERVICES PROVIDED THROUGH THE SITE AND ADDYPIN IS AT YOUR OWN AND FINAL DISCRETION.  NO ORAL OR WRITTEN INFORMATION OR ADVICE PROVIDED TO YOU BY ADDYPIN SHALL CREATE A REPRESENTATION OR WARRANTY OF ANY KIND.</p>
            <p>WE SHALL NOT BE LIABLE FOR ANY DIRECT,  INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, PUNITIVE OR EXEMPLARY DAMAGES ARISING FROM YOUR USE OF THE SITE AND/OR ADDYPIN, OR REGADING HYPERLINKS TO THIRD PARTY WEBSITES, OR FOR ANY SECURITY BREACH ASSOCIATED WITH THE TRANSMISSION OF PERSONAL DATA THROUGH THE SITE AND/OR ADDYPIN OR ANY OTHER WEBSITE, FOR LOSS OF PROFITS, LOSS OF GOODWILL, BUSINESS INTERRUPTION, REPUTATIONAL HARM, LOSS OF INFORMATION OR DATA OR FOR ANY INFORMATION, PRODUCTS OR SERVICES OBTAINED THROUGH THE SITE AND/OR ADDYPIN, OR OTHERWISE ARISING OUT OF THE USE OF SUCH, WHETHER BASED ON CONTRACT, TORT, STRICT LIABILITY OR OTHER LEGAL THEORY, EVEN IF ADDYPIN HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES AND EVEN IF SUCH DAMAGES RESULT FROM OUR NEGLIGENCE OR GROSS NEGLIGENCE.</p>
            <p>Some states do not allow us to limit our liability for consequential or incidental damages or exclude certain warranties.  In those states, our liability and warranties shall be limited to the fullest extent permitted by applicable law.</p>
            <p>addypin’ maximum cumulative liability to you for losses or damages arising in connection with your access of the Site and/or addypin under these Terms shall be limited to: (i) the amount paid, if any, by you to and the Company during the 12 months prior to the action giving rise to such liability; or (ii) USD $50, whichever results less.</p>

            <h2>Takedown Notices, Claims of Infringement</h2>
            <p>addypin takes copyright infringement seriously, and is ready to remove any content posted upon duly notice and request by a copyright holder.  If you believe that any content or other material provided through the Site allegedly infringes the copyright of you or of a third party, please notify us of your claim to support@addypin.co (subject: "Takedown Request"). addypin may remove any content if it believes or has reason to believe such content infringes on another’s copyright, without prior notice and at any time and at its sole discretion.  </p>

            <h2>Forum, Governing Law</h2>
            <p>Any dispute arising from the use of the Site and/or addypin along with these Terms and any action arising thereto shall be governed by the laws of Egypt, without regard to its conflict of law provisions.  The exclusive jurisdiction and venue of any action regarding the subject matter hereof will be the state and federal courts located in Cairo, Egypt, and each party hereby agrees to submit to the personal jurisdiction of such state and federal courts, hereto waiving any objection to jurisdiction and venue in such courts.  All communications regarding legal matters must be made in writing to:</p>
            <p>
                addypin<br/>
                27, Attia El Kholy St., 2nd District<br/>
                11765, Nasr City, Cairo, Egypt.
            </p>
            <p>PLEASE NOTE THAT BY AGREEING TO THESE TERMS, YOU ARE HEREBY WAIVING CLAIMS THAT YOU MIGHT OTHERWISE HAVE AGAINST US BASED ON THE LAWS OF OTHER JURISDICTIONS, INCLUDING YOUR OWN, FOR THE PURPOSE OF RESOLVING ANY SUCH DISPUTES OR CLAIMS ARISNG HEREFROM.</p>

            <h2>Generals</h2>
            <p><u>Termination</u>  You may terminate these Terms at any time by closing your account and/or discontinuing your use of the Site.</p>
            <p><u>Assignment</u>  We may assign these Terms to any of our direct or indirect wholly-owned affiliates and, at any time at our sole and final decision and without your consent and without prior notice.  A party may assign this Agreement with the written consent of the other party if: (a) the assignee agrees in writing to be bound by the terms of this Agreement and (b) the assigning party remains liable for obligations under the Agreement.  These Terms shall be binding upon and inure to the benefit of the parties and their respective successors and permitted assigns.</p>
            <p><u>Entire agreement</u>  These Terms shall be the only and final understanding regarding the Site and/or addypin and any content there into, and supersede any prior or contemporary communication between you and addypin regarding the Site and addypin.</p>
            <p>If any provision of these Terms is found to be unenforceable or invalid, then only that provision shall be modified to reflect the parties' intention or eliminated to the minimum extent necessary so that the Terms shall otherwise remain in full force and effect and enforceable.</p>
            <p><u>Force majeure</u>  We will not be liable for failing to perform under these Terms because of any event beyond its reasonable control, including, without limitation, interruption of Internet service, fire, terrorism, natural disaster, Acts of God or war.</p>
            <p><u>No Waiver</u>  Failure by addypin to impose any of its rights under these Terms shall not be interpreted as a waiver of any rights hereon, nor any other rights in any manner whatsoever.</p>
            <p><u>Notices</u>  Any notices or other communications required hereunder, including those regarding modifications to these Terms, will be in writing and delivered by email (the address you provided) or by posting to the Site. For notices made by e-mail, the date of receipt will be deemed the date on which such notice has been read and transmitted.</p>
            <br/></br/>
        </div>
    </div>
</div>
<div class="container-fluid container-footer fxdbottom mobile-none" ng-include="'modules/shared/views/footer.html'"></div>