<!--
<div class="container page-margin">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12 welcome-message-mobile">
            We care about the acccuracy of your registered address, please register your address from your mobile
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 bdr-lft pdxxs">
            <form class="form1 mobile-none1 desktop-none">
                <input type="text" class="field-noborder" placeholder="Enter your mobile number or email address to send you the link">
                <button type="submit" class="btn-submit">
                    <i class="fa fa-check-circle"></i>
                </button>
            </form>
            <form class="form1 desktop-none1">
                <input type="radio" name="pintype" value="personal" checked> Personal &nbsp;
                <input type="radio" name="pintype" value="corporate"> Corporate<br><br>
                <input type="text" class="field-noborder" placeholder="Enter your email address to register your address">
                <button type="submit" class="btn-submit">
                    <i class="fa fa-check-circle"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="line marginxs"></div>
    <div class="row">
        <div class="col-md-12 centered img-100">
            <h2>Why Addypin?</h2>
            <img src="assets/img/infographic-desktop.jpg">
        </div>
    </div>
    <div class="row pdxs">
        <div class="col-md-12 centered img-100">
        </div>
    </div>
</div>-->
