<div class="container-fluid navbar-fxd-wrapper" ng-include="'modules/shared/views/header.html'"></div>
<div ng-include="'modules/shared/views/feedback.html'"></div>
<div class="cssload-loader deadcenter hide">
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
</div>
<div class="container page-margin-reg">
    <div class="row">
        <div class="col-md-12 img-100 reg-main resp-no-padding">
            <div class="registration-form" ng-class="isFormOpen ? 'reg-form-after' : 'reg-form-before'">
                <div class="col-md-6 col-md-offset-3">
                    <form name="registerForm" ng-submit="RegisterPin()">
                        <div class="row"> 
                            <label class="col-xs-4">{{typeFormatted}} addypin</label>
                            <div class="col-xs-7"><input type="text" class="form-control" placeholder="Email" ng-blur="getSuggestions()" ng-model="user.email" id="email" required></div>
                            <div class="col-xs-1 align-right"><a href="javascript:void(0);" ng-click="ToggleRegisterForm()" class="form-handle " ng-class="isFormOpen ? 'form-open' : 'form-close'"></a></div>
                        </div>
                        <label>Address</label>
                        <input type="text" class="form-control " placeholder="&quot;15, Latin Street, London.&quot;" ng-model="user.address" id="address" required autocomplete="off">
                        <label>{{nameCaption}}</label>
                        <input type="text" class="form-control" placeholder="{{nameCaptionHolder}}" ng-model="user.name" required>
                        <label>Description</label>
                        <input type="text" class="form-control" placeholder="&quot;My Home&quot;" ng-model="user.location" required>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>Latitude</label>
                                <input type="text" class="form-control" id="latitude" placeholder="Latitude" ng-model="user.lat" required>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>Longitude</label>
                                <input type="text" class="form-control" placeholder="Longitude" ng-model="user.lng" id="longitude" required>
                            </div>
                        </div>
                        <!-- <input type="text" class="form-control" placeholder="Postal Code" ng-model="user.postal_code" required>
                        <input type="text" class="form-control" placeholder="Landmark" ng-model="user.landmark" required> -->
                        <!--<p>Your addypin is a unique 6 charachters, with at least 1 number or 1 alphabet</p>-->
                        <input type="hidden" ng-model="regex" id="regex" value="" />
                        
                        <div class="row">
                            <div class="col-sm-11">
                                <input style="margin:25px 0;" type="text" maxlength="6" name="pincode" class="form-control pinbox" placeholder="username" required ng-change="VerifyPincodeAvailability()" ng-model-options="{updateOn: 'blur'}" ng-pattern="/^(?=.*[a-z])(?=.*\d).+$/" ng-minlength="6" ng-maxlength="6" ng-model="user.code" data-toggle="tooltip" data-trigger="focus" title="Your addypin is a unique 6 characters PIN, with at least 1 alphabet or 1 digit">
                                <label class="overtext">@addypin.com</label>
                            </div>
                            <div class="col-sm-1">
                                <span class="pin-validator" ng-class="isPinCodeValid ? '' : 'disabled'"><i class="fa fa-check-circle-o"></i></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-primary" type="button" ng-click="setCode(suggestions.pin1)">{{suggestions.pin1}}</button>
                                <button class="btn btn-primary" type="button" ng-click="setCode(suggestions.pin2)">{{suggestions.pin2}}</button>
                                <button class="btn btn-primary" type="button" ng-click="setCode(suggestions.pin3)">{{suggestions.pin3}}</button>
                            </div>
                        </div>

                        <br clear="all"/>
                        <div ng-show="registerForm.pincode.$error.minlength" class="show alert alert-danger alert-sm">Addypin must be 6 characters long</div>
                        <div ng-show="registerForm.pincode.$error.maxlength" class="show alert alert-danger alert-sm">Addypin must be 6 characters long</div>
                        <div ng-show="registerForm.pincode.$error.pattern" class="show alert alert-danger alert-sm">Addypin should have at least 1 digit and 1 alphabet</div>
                        <div ng-show="InactivePins" class="show alert alert-{{messageClass}} alert-sm">{{message}}</div>
                        <div id="duplicate-pin" style="display:none" class="alert alert-danger alert-sm">Addypin exists, try a different combination.</div>
                        <button type="submit" class="mybtn btn-orange f-width" ng-class="buttonClass">Register Addypin</button>
                    </form>
                </div>
            </div>
            <!--<img src="assets/img/reg-map.jpg">-->
            <!--<gm-map class="map-container" gm-address="{address:user.address}" options="{zoom: 14, mapTypeId: google.maps.MapTypeId.ROADMAP}">
                <gm-marker position="map.getCenter()" options="{draggable: true}" on-dragend="SetCoordinates(marker.getPosition().lat(), marker.getPosition().lng())"></gm-marker>
            </gm-map>-->
            <div id="map-container" class="map-container"></div>
        </div>
    </div>
</div>
<div class="container-fluid container-footer fxdbottom" ng-show="showFooter" ng-include="'modules/shared/views/footer.html'"></div>
<style>
.pac-container{
    z-index:99999 !important;
}
</style>