<div class="container-fluid navbar-fxd-wrapper" ng-include="'modules/shared/views/header.html'"></div>
<div ng-include="'modules/shared/views/feedback.html'"></div>
<div class="cssload-loader deadcenter hide">
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
</div>
<div class="container page-margin-reg ng-cloak reg-continue">
    <div class="row">
        <div class="col-md-6">
        <!-- <div id="tooltip_map" ng-bind-html="renderHTML(mapToolTip)"></div> -->
        <div id="tooltip_map" ng-show="!isGpsFound"><!-- Not here? Enable your GPS and <a style="color: white; cursor: pointer; text-decoration: underline;" ng-click="reload()" >reload the Page</a> --></div>
        <!-- <div id="tooltip_map" ng-show="isGpsFound">{{mapToolTip}}</div> -->
        <div id="map-container" class="map-container">
        </div>
        </div>
        <div class="col-md-6 img-100 reg-main">
            <div class="registration-form" ng-class="isFormOpen ? 'reg-form-after' : 'reg-form-before'">
                <!-- <div class="col-md-12 col-md-offset-3"> -->
                    <form name="registerForm" ng-submit="RegisterPin()">
                   
                    <h4 class=""><b>{{typeFormatted}} addypin</b></h4>
                   
                    
                    
                        <label>Address</label>
                        <input type="text" class="form-control" value="" placeholder="&quot;15, Latin Street, London.&quot;" ng-model="user.address" id="address" required>
                        
                       <!--  <a class="btn btn-default ng-binding" href="javascript:void(0);" onClick="getip();" >Locate me</a> -->


                       

                       

                       
                        <input type="hidden" name="lat" id="lat" value="22.5">
                        <input type="hidden" name="lng" id="lng" value="75.5">
                       
                        <input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="hidden"></input>
                        
                        
                        <label>What's this place</label>
                        <input type="text" class="form-control" placeholder="&quot;Home or Work?&quot;" ng-model="user.location" required>
                        <label>What's your email for {{typeFormatted}} addypin</label>
                        <div><input type="email" class="form-control" placeholder="Email" ng-keyup="getSuggestions()" ng-blur="getSuggestions()" ng-model="user.email" id="email" required></div>
                        <input type="hidden" ng-model="regex" id="regex" value="" />
                        
                        <label>Your addypin</label>
                        <div class="row">
                            <div class="col-xs-11" id="pincodediv">
                                <input type="text" maxlength="6" name="pincode" class="form-control pinbox" placeholder="username" required 
                                            ng-keyup="VerifyPincodeAvailability(user.code)" ng-model-options="{allowInvalid: 'true'}" 
                                            ng-pattern="/^(?=.*[a-zA-Z])(?=.*\d).+$/" ng-minlength="6" ng-maxlength="6" ng-model="user.code" data-toggle="tooltip" data-trigger="focus" >
                                <label class="overtext">.addypin.com</label>
                            </div>
                            <div class="col-xs-1">
                                <span class="pin-validator" ng-class="isPinCodeValid ? '' : 'disabled'"><i class="fa fa-check-circle-o"></i></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-primary" type="button" ng-click="setCode(suggestions.pin1)">{{suggestions.pin1}}</button>
                                <button class="btn btn-primary" type="button" ng-click="setCode(suggestions.pin2)">{{suggestions.pin2}}</button>
                                <button class="btn btn-primary" type="button" ng-click="setCode(suggestions.pin3)">{{suggestions.pin3}}</button>
                            </div>
                        </div>

                        <br clear="all"/>
                        <div ng-show="registerForm.pincode.$error.minlength" class="show alert alert-danger alert-sm">addypin must be 6 alphanumeric characters</div>
                        <div ng-show="registerForm.pincode.$error.maxlength" class="show alert alert-danger alert-sm">addypin must be 6 alphanumeric characters</div>
                        <div ng-show="registerForm.pincode.$error.pattern" class="show alert alert-danger alert-sm">addypin should have at least 1 digit and 1 alphabet</div>
                        <div ng-show="InactivePins" class="show alert alert-{{messageClass}} alert-sm">{{message}}</div>
                        <div id="duplicate-pin" style="display:none" class="alert alert-danger alert-sm">addypin exists, try a different combination.</div>
                        <button type="submit" class="mybtn btn-orange f-width" ng-class="buttonClass">Register</button>
                    </form>
                <!-- </div> -->
            </div>
            <!--<img src="assets/img/reg-map.jpg">-->
            <!--<gm-map class="map-container" gm-address="{address:user.address}" options="{zoom: 14, mapTypeId: google.maps.MapTypeId.ROADMAP}">
                <gm-marker position="map.getCenter()" options="{draggable: true}" on-dragend="SetCoordinates(marker.getPosition().lat(), marker.getPosition().lng())"></gm-marker>
            </gm-map>-->
        </div>
    </div>
</div>

<!-- ng-show="showFooter" -->
<div class="container-fluid container-footer fxdbottom"  ng-include="'modules/shared/views/footer.html'"></div>
<style>
.pac-container{
    z-index:99999 !important;
}
</style>