<section class="content-header">
    <h1>
        Profile
        <!--<small>Optional description</small>-->
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="callout callout-{{messageClass}}" ng-show="userUpdated">
                <p>{{message}}</p>
             </div>
            <!-- general form elements -->
            <div class="box box-primary">
                <!--<div class="box-header with-border">
                    <h3 class="box-title">Quick Example</h3>
                </div>&lt;!&ndash; /.box-header &ndash;&gt;-->
                <!-- form start -->
                <form role="form" ng-submit="updatePassword()">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="first_name">Username</label>
                            <input type="text" class="form-control" id="first_name" ng-model="admin_user.username" readonly>
                        </div>
                        <div class="form-group">
                            <h2>Change Password</h2>
                        </div>
                        <div class="form-group">
                            <label for="old_pswd">Old Password</label>
                            <input type="password" class="form-control" id="old_pswd" ng-model="admin_user.old_pswd" required>
                        </div>
                        <div class="form-group">
                            <label for="new_pswd">New Password</label>
                            <input type="password" class="form-control" id="new_pswd" ng-model="admin_user.new_pswd" required>
                        </div>
                        <div class="form-group">
                            <label for="conf_pswd">Confirm Password</label>
                            <input type="password" class="form-control" id="conf_pswd" ng-model="admin_user.conf_pswd" required>
                        </div>
                        
                        
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div><!-- /.box -->
        </div>
    </div>
</section>