<div class="login-box" data-abng-controller="AuthController">
    <div class="login-logo animated fadeInDown">
        <!-- <a href="../../index2.html"> -->
            <!--<b>Admin</b>LTE-->
            <img src="/assets/img/logo.png" alt="Admin Logo" />
        <!-- </a> -->
    </div><!-- /.login-logo -->
    <div class="login-box-body" ng-class="shakeClass">
        <p class="login-box-msg">Sign in to start your session</p>
        <form method="post">
            <div class="form-group has-feedback animated fadeInDown">
                <input type="text" class="form-control" placeholder="Username" ng-model="user.username">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback animated fadeInDown">
                <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row animated fadeInDown">
                <div class="col-xs-8">
                    <!--<div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>-->
                </div><!-- /.col -->
                <div class="col-xs-4">
                    <button type="button" ng-click="login()" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div><!-- /.col -->
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="callout callout-danger" ng-show="loginFailed">
                        <p>{{failedMessage}}</p>
                    </div>
                    <div class="callout callout-info" ng-show="isExpired">
                        <p>{{expiredMessage}}</p>
                    </div>
                </div>
            </div>

        </form>
    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->