<!DOCTYPE html>
<html lang="en" ng-app="main">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="author" content="">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Welcome to addypin">

    <link rel="manifest" href="/manifest.json">
     <link rel="manifest" href="/browserconfig.xml">

    <!-- <title>{{page_title}}</title> -->
    <title ng-bind="page_title"></title>
    <link rel="shortcut icon" href="/addypin.ico" type="image/x-icon">
    <!-- <link rel="icon" href="/assets/img/favicons.ico" type="image/x-icon"> -->




<link rel="apple-touch-icon" sizes="180x180" href="/assets/icon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icon/favicon-16x16.png">
<link rel="mask-icon" href="/assets/icon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">



    <link href="assets/css/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,700' rel='stylesheet' type='text/css'>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries: -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="assets/js/jquery.min.js"></script>
    <!--<script src="assets/js/angular-google-maps-native.min.js"></script>-->
    

    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-ui-router.js"></script>
    <script src="assets/js/angular-jwt.min.js"></script>
    <script src="assets/js/angular-post-fix.js"></script>
    <script src="assets/js/angular-environment.min.js"></script>
    <script src="assets/js/re-tree.js"></script>
    <script src="assets/js/ng-device-detector.min.js"></script>
    <script src="bower_components/angular-socialshare/dist/angular-socialshare.min.js"></script>
    <!-- App's main js -->
    <script src="assets/js/app.js"></script>
    
    <!-- Services - May be if there are shared ones -->
    <script src="modules/shared/services/common.js"></script>
    <script src="modules/shared/services/url.js"></script>

    <script src="modules/home/services/home.js"></script>

    

    <!-- Pin Module -->
    <script src="modules/pin/pin.module.js"></script>
    <script src="modules/pin/config/pin.config.js"></script>
    <script src="modules/pin/controllers/pin.controller.js"></script>
    <script src="modules/pin/services/pin.js"></script>

    <!-- Lookout Module -->
    <script src="modules/lookup/lookup.module.js"></script>
    <script src="modules/lookup/config/lookup.config.js"></script>
    <script src="modules/lookup/controllers/lookup.controller.js"></script>
    <script src="modules/lookup/services/lookup.js"></script>

    <!-- Constants -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106664427-1"></script>
    <!-- Directives -->

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());
 
  gtag('config', 'UA-106664427-1');
</script>



    <script>(function() {
        document.documentElement.className = 'js'
    })();</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
 
  ga('create', 'UA-90744491-1', 'auto');
  ga('send', 'pageview');
 

if (navigator.userAgent.match(/iPad/i))
{
    // do tablet stuff
   // alert('iPad');
} else if(navigator.userAgent.match(/Android|webOS|iPhone|iPod|Blackberry/i) )
{
    // do mobile stuff
    // alert('mobile');
} else {
    // do desktop stuff
    // alert('desktop');
    $("<link/>", {
   rel: "stylesheet",
   type: "text/css",
   href: "assets/css/custom.css"
}).appendTo("head");
   // $(".windoweditpin").css({"width":"50% !important"});
}
</script>
</head>

<body  device-detector>
<div ui-view></div>
<div id="mystylename" style="display:none;">
 <a ng-click="slideToggle()" id="overlayform" class="feedback"><i class="fa fa-envelope"></i> </a>
</div>
<style>
@media only screen and (max-width: 780px) {
#mystylename{ display:block !important;}
}
#mystylename{
     position:fixed;
     bottom: 10%;
     right:10px;
	 z-index : 999;
	  background: #00b1ff none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    padding: 3px 15px;
}
#mystylename a { color:#FFF; }



</style>
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">
<link href="assets/css/media.css" rel="stylesheet">
<link href="assets/css/animate.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="assets/js/restive.min.js"></script>
<script src="assets/js/parallax/parallax.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="assets/js/wow.min.js"></script>
<!--<script src="assets/js/heartcode-canvasloader-min-0.9.1.js"></script>-->
<script type="text/javascript">
    $(document).ready(function (){
        $('body').restive({
            breakpoints: ['10000'],
            classes: ['nb'],
            turbo_classes: 'is_mobile=mobi,is_phone=phone,is_tablet=tablet,is_landscape=landscape,is_pc=pc,is_non_mobile=non-mobile'
        });
    });
	
	
	
</script>

<script>
//addToHomescreen();
/*var addtohome = addToHomescreen({
   autostart: true
});
addtohome.show();*/


  if('serviceWorker' in navigator) {
    console.log("Will the service worker register?");
    navigator.serviceWorker.register('service-worker.js')
      .then(function(reg){
       // alert("Yes, it did.");
        console.log("Yes, it did.");
     }).catch(function(err) {
        //alert("No it didn't. This happened");
        console.log("No it didn't. This happened:", err)
    });
   }
</script>


<script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPZNkMOj8Xy7OWZ8c79uZ8O_MpYjjIRns&libraries=places&callback=initAutocomplete"></script>
<!-- <script src="assets/js/geolocator.js"></script> -->
<!-- <script src="assets/js/geolocator.js"></script> -->
<script src="assets/js/locationpicker.jquery.js"></script>
<script>
    $(document).ready(function () {
        wow = new WOW(
                {
                    boxClass: 'wow', // default
                    animateClass: 'animated', // default
                    offset: 0, // default
                    mobile: true, // default
                    live: true        // default
                }
        )
        wow.init();
    });

    $(".editpin").click(function (){
        $(".windoweditpin").fadeIn("1000", function (){
            $(this).removeClass("hide");
            //$(".st-services").removeClass("hide");
            //$(".st-services").fadeIn();
        });
        return false;
    });
    $("#btn-close-edit").click(function (){
        $(".windoweditpin").fadeOut("1000", function (){
            $(this).addClass("hide");
        });
        return false;
    });
    $(".sharepin").click(function (){
        $(".windowsharepin").fadeIn("1000", function (){
            $(this).removeClass("hide");
            //$(".st-services").removeClass("hide");
            //$(".st-services").fadeIn();
        });
        return false;
    });
    $("#btn-close-share").click(function (){
        $(".windowsharepin").fadeOut("1000", function (){
            $(this).addClass("hide");
        });
        return false;
    });
    $(".deletepin").click(function (){
        $(".windowdeletepin").fadeIn("1000", function (){
            $(this).removeClass("hide");
            //$(".st-services").removeClass("hide");
            //$(".st-services").fadeIn();
        });
        return false;
    });
    $(".btn-close-delete").click(function (){
        $(".windowdeletepin").fadeOut("1000", function (){
            $(this).addClass("hide");
        });
        return false;
    });
    // function togglefeedback(){
    //     console.log('peter');$('.feedback-form').slideToggle()
    // }
    function togglefeedback(){
        console.log('peter');$('.feedback-form').slideToggle()
    }
    
  

/* get ip to location */
var k =1;
function getip(){
	if(k == 1){
		k = 2;
	$('#address').val('Please wait...');
	 var url = 'https://api.addypin.com/latlng.php';  
		$.ajax({
		  url: url,
		  dataType: "jsonp",
		  jsonpCallback: "logResults"
		});	
	k=1;
	}else{
	alert('Process already running. Please wait.');
	}
}

function logResults(json){
    	$('#address').val(json.address[0]);
		$('#lat').val(json.latitude);
		$('#lng').val(json.longitude);
}




     
</script>


<!-- <link rel="stylesheet" type="text/css" href="assets/css/addtohomescreen.css">
<script src="assets/js/addtohomescreen.js"></script> -->


 <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.lazy/1.7.4/jquery.lazy.min.js"></script>
</body>
</html>
