<style type="text/css">

.addpin-countrie {
    margin: 0 0 25px;
}
.addpin-countrie h3 {
    margin: 0;
    padding: 15px;
    display: inline-block;
    font-size: 30px;
    background: #555555;
    color: #ffffff;
    border-radius: 30px;
    width: 115px;
    vertical-align: middle;
}
.addpin-countrie p {
    font-size: 24px;
}
    @media (max-width: 768px){
.deadcenter {
    top: 100px !important;
}
}

</style>

<div class="container-fluid navbar-fxd-wrapper" ng-include="'modules/shared/views/header.html'"></div>
<div class="cssload-loader deadcenter hide">
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>
    <div><i class="fa fa-map-marker"></i></div>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 wrapper-vh-100 centered">
            <div class="home-banner-content">
                <h1 class="wow fadeInUp" data-wow-delay="1s">Fast and easy way to share your address</h1><br>
                <h3 class="wow fadeInUp">Please register your address from your mobile phone</h3>
                <form class="form1 mobile-none desktop-none">
                    <input type="text" class="field-register" placeholder="Enter your email to create an addypin">
                    <button type="submit" class="btn-submit">
                        <i class="fa fa-check-square"></i> Submit
                    </button>
                </form>
                <div ng-show="msg" class="show alert alert-success alert-sm alert-msg">{{msg}}</div>
                <div class="share-pins share-pins-home text-center" ng-show="email.length > 0">
                <br/>
                   <!--  <a title="whatsapp" href="javascript:void(0);" class="share-whatsapp" ng-click="shareWhatApp(pin)">
                        <i class="fa fa-whatsapp"></i>
                    </a> -->
                    <a title="SMS" href="javascript:void(0);"
                        socialshare
                        socialshare-provider="whatsapp"
                        socialshare-url= "@addypin.com"
                        socialshare-text="Find me here {{website}} or email {{email.replace('@addypin.com','')}}"
                        class="share-whatsapp" >
                        <i class="fa fa-whatsapp"></i>
                    </a>
                    <a title="SMS" href="javascript:void(0);"
                        socialshare
                        socialshare-provider="sms"
                        socialshare-text="Find me here {{website}} or email {{email}}"
                        socialshare-url=""
                        class="share-sms" >
                        <i class="fa fa-mobile"></i>
                    </a>
                    <a title="Email" href="javascript:void(0);"
                        socialshare
                        socialshare-provider="email"
                        socialshare-subject="Check my addypin location {{pin.code}}"
                        socialshare-body="Hey there! Find me here {{website}} or email {{email}} The addypin team "
                        class="share-email" >
                        <i class="fa fa-envelope"></i>
                    </a>
                </div>
               
                <form class="form1 desktop-none12">

                    <input type="button" name="pintype" ng-click="register('personal')" ng-model="user.type" value=" Locate me" class="btn-submit">
                    <input type="button" name="pintype" ng-click="register('corporate')" ng-model="user.type" value="Locate my business" class="btn-submit">
                    <!-- <label><input type="radio" name="pintype" ng-model="user.type" value="personal"> Personal &nbsp;</label>
                    <label><input type="radio" name="pintype" ng-model="user.type" value="corporate"> Business</label><br><br> -->
                   <!--  <input type="email" required="" class="field-register" placeholder="Enter your email to create an addypin" ng-model="user.email"> -->
                    <!-- <button type="submit" class="btn-submit">
                        <i class="fa fa-check-square"></i> Submit
                    </button> -->
                </form>

            </div>
        </div>
    </div>
</div>
<div ng-include="'modules/shared/views/feedback.html'"></div>
<div class="container-fluid bdr-top-white">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 whyaddypin1 bdr-rt-white">
            <div class="icon-img img-100 wow fadeInUp" data-wow-delay="1s"><img src="/assets/img/icon-1.png"></div>
            <div class="icon-text wow fadeInUp">
                Don’t miss your friend’s party trying to reach a new destination. Easily reach your location without losing your temper
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 whyaddypin2">
            <div class="icon-img img-100 wow fadeInUp" data-wow-delay="1s"><img src="/assets/img/icon-2.png"></div>
            <div class="icon-text wow fadeInUp">
                No more long calls with your customers explaining how to reach your restaurant. Share your addypin and save the hassle of controversial landmarks
            </div>
        </div>
    </div>
</div>


<div class="container-fluid easysecure">
    <div class="row">
        
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="" ><img src="/assets/img/easy.jpeg"></div>
            <div class="icon-text wow fadeInUp">
                Reach your destination, not your limits!
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class=""><img src="/assets/img/accurate.jpg"></div>
            <div class="icon-text wow fadeInUp">
               We got you, don't ask for directions
            </div>
        </div>

         <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="" ><img src="/assets/img/secure.jpeg"></div>
            <div class="icon-text wow fadeInUp">
               Unlisted address; only for your friends
            </div>
        </div>

    </div>
</div>



<div class="container resp-100">
    <div class="row marginxs centered wow fadeInUp" data-wow-delay="1s">
        <div class="col-md-12">
            <h2 class="bdr-btm-3">2 steps to create your addypin</h2>
            <!--<h3>Just 3 simple steps and you're good to go...!</h3>-->
        </div>
    </div>
    <div class="row mrg-bt-40 wow fadeInUp">
        <div class="col-md-6 col-sm-6 col-xs-12 resp-mrg centered ex-pd">
            <div class="circle-icon-lg mrg-bt-20">
                <div class="deadcenter">1</div>
            </div>
            <p>Personal or Business? enter your email address – you can have up to 5 personal and 20 business addypins</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 resp-mrg centered ex-pd">
            <div class="circle-icon-lg mrg-bt-20">
                <div class="deadcenter">2</div>
            </div>
            <p>Details or not? choose your unique 6 digit addypin – your addypin is good for 7 days without email confirmation</p>
        </div>
        <!--<div class="col-md-4 col-sm-4 col-xs-12 resp-mrg centered ex-pd">
            <div class="circle-icon-lg mrg-bt-20">
                <div class="deadcenter">3</div>
            </div>
            <p>Check your email, proceed to confirmation link and you are all good...!</p>
        </div>-->
    </div>
</div>
<!--<div class="container-fluid bg-gray">
    <div class="container wow fadeInLeftBig">
        <div class="row marginxs centered">
            <h2>Your addypin is ready for use (good for 7 days without a confirmation from your email)</h2>
        </div>
    </div>
</div>-->
<div class="container">
    <div class="row marginxs centered wow fadeInUp" data-wow-delay="1s">
        <div class="col-md-12">
            <h2 class="bdr-btm-3">addypins are good for</h2>
        </div>
    </div>
    <div class="row mrg-bt-40 centered wow fadeInUp">
        <div class="col-md-6 col-sm-6 col-xs-12 options resp-mrg">
            <h3>Link</h3>
            <p>share your addypin address <span>FINDM3.addypin.com</span> on whatsapp for your friends' GPS</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 options">
            <h3>Email</h3>
            <p>use your addypin email <span>FINDM3@addypin.com</span> to retrieve the map on your email</p>
        </div>
    </div>
</div>

<div class="container addpin-countrie-wrap">
    <div class="row marginxs centered wow fadeInUp" data-wow-delay="1s">
        <div class="col-md-12">
            <h2 class="bdr-btm-3">addypins</h2>
        </div>
    </div>
    <div class="row mrg-bt-40 centered wow fadeInUp">
        <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 addpin-countrie resp-mrg">
            <h3><i class="fa fa-map-marker" aria-hidden="true"></i> {{addypinTotal}}</h3>
            <p> addpins</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 addpin-countrie">
            <h3><i class="fa fa-flag" aria-hidden="true"></i> {{addypinCountry}}</h3>
            <p>countries</p>
        </div>
    </div>
</div>

<div>
    <p>&nbsp;</p>
   <p>&nbsp;</p>
</div>
<!-- <div class="container-fluid bg-gray">
    <div class="container wow fadeInLeftBig">
        <div class="row marginxs centered">
            <h2>With addypin you can create upto 15 Corporate PINS and 5 Personal PINS per account. You can edit these PINS anytime or even delete them and add a new PIN</h2>
        </div>
    </div>
</div> -->
<sctipt>
   <!--  history.pushState("", "Welcome to addypin", "https://www.addypin.com/#/home"); -->
</sctipt>
<style type="text/css">
    .easysecure img{  height:350px}
</style>
<div class="container-fluid container-footer fxdbottom" ng-include="'modules/shared/views/footer.html'"></div>